# OS tmp files
Thumbs.db
ehthumbs.db
Desktop.ini
nohup.out
.DS_Store

# Python tmp files
*.pyc
*.swp
*.swo
__pycache__

# Preprocessing tmp files
.sass-cache
libs.js
libs.css
.coverage

# Tavern tmp files/logs/conf/etc
tmp
logs
libs/virtualenv*
*.serversettings
/webtav/static/

# IDE tmp files
tavern.sublime-workspace
.idea
datafiles/ide/Pycharm/*.xml


# Big Tavern files - These would bloat the repo, since they're big and change :/
GeoLiteCity.dat
useragent.ini
*.box

# Docs
datafiles/documentation-generator/_build
.coverage