# OS tmp files
Thumbs.db
ehthumbs.db
Desktop.ini
nohup.out
.DS_Store

# Python tmp files
*.pyc
*.swp
*.swo
__pycache__

# Preprocessing tmp files
.sass-cache
.coverage

# Tavern tmp files/logs/conf/etc
tmp
logs
libs/virtualenv*
*.serversettings
*.min.js
datafiles/mongodb/
datafiles/messages/
utils/mongodb/
utils/nginx/
webtav/static/css/


# IDE tmp files
tavern.sublime-workspace
.idea
datafiles/ide/Pycharm/
!datafiles/ide/Pycharm/Tavern.iml

# Big Tavern files - These would bloat the repo, since they're big and change :/
GeoLiteCity.dat
useragent.ini
*.box

# Docs
docs/documentation_sources/_*
.coverage