# OS tmp files
Thumbs.db
ehthumbs.db
Desktop.ini
nohup.out
.DS_Store

# Python tmp files
*.pyc
*.swp
*.swo
__pycache__

# Preprocessing tmp files
.sass-cache
*.min.js
*.min.css
*.gz

# Tavern tmp files/logs/conf/etc
tmp
logs
Libs/virtualenv*
*.serversettings

# IDE tmp files
tavern.sublime-workspace
workspace.xml
e1ven.xml
.idea

# Big Tavern files - These would bloat the repo, since they're big and change :/
GeoLiteCity.dat
useragent.ini
*.box

# Docs
_build
_static
_templates
.coverage