# System utils
Cython

# DB
pymongo
psycopg2

# Parsing
beautifulsoup4>=4.1.3
lxml>=3.0.1
MarkupSafe
Markdown>=2.2.1
bleach
yuicompressor

# BBCode - postmarkup

# Formatting
flake8
autopep8
pep8
docformatter

# Bittwisting
mpmath
bitarray

# Images
pillow
robohash
python-magic

# Security
python-gnupg>=0.3.5
pynacl
scrypt

# IP lookup
pygeoip

# Documentation and testing
sphinx
nose
coverage

# Python 3.4 Backport
enum34