<!doctype html>
	<!-- Hey, Source Reader!
	Welcome to Tavern. I know my coding skills are somewhat sub-par, but if you have any suggestions, I'd love to hear them.
	This project is Open Source - You can help change it - Check out our Github - https://github.com/e1ven/Tavern

	Anyway, Enjoy the site, and I'd love any thoughts.

	You are browsing this in - {{handler.useragent['ua_family']}}
    -->
<html lang="en">
<head>

    {# Use SSI to set the xsrftoken variable AFTER the page is rendered (for caching).
       For details, see the XSRFHandler #}
    <!--# include virtual="/__xsrf" set="xsrftoken" wait="yes" -->

    <meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	{% if handler.canon %}
		<link rel=canonical href="{{handler.server.serversettings.settings['webtav']['canonical_url']}}{{handler.canon}}"/>
		<meta property="og:url" content="{{handler.server.serversettings.settings['webtav']['canonical_url']}}{{handler.canon}}"/>
		<meta property="og:blog" content="article"/>
	{% end %}
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-Frame-Options" content="deny">
	<meta property="og:site_name" content="Tavern"/>
    <title> Tavern ;) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{ handler.title }} </title>

    {% if handler.displayenvelope %}
        <meta NAME="Description" CONTENT="{{handler.displayenvelope.dict['envelope']['local']['short_body']}}">
    {% end if %}

	<meta property="og:title" content="	Tavern :: {{ handler.title }}"/>

	<link rel="alternate" type="application/rss+xml" title="Updates on {{ handler.topic }}" href="/rss/topic/{{ handler.topic }}" /> 


	{% if handler.useragent['ua_family'] != 'Netscape Navigator' or handler.useagent['ua_versions'][0] > 4 %}
        <link href="{{ handler.static_url('css/theme-' + handler.user.theme + '.css') }}" rel="stylesheet" type="text/css" media="screen" />
	{% end %}
	

    <link rel="icon" href="/static/icons/32x32Icon.png" type="image/png" />
    {% if handler.useragent['ua_family'] == 'Mobile Safari' %}
	    <link rel="apple-touch-icon" href="/static/icons/apple-touch-icon-57x57.png?v={{ handler.server.serversettings.settings['static-revision'] }}" />
	    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png?v={{ handler.server.serversettings.settings['static-revision'] }}" />
	    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png?v={{ handler.server.serversettings.settings['static-revision'] }}" />
	    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png?v={{ handler.server.serversettings.settings['static-revision'] }}" />
    {% end if %}


    {# No JS for IE < 8 #}
    {% if handler.useragent['ua_family'] != 'IE' or requestvars['browser']['ua_versions'][0] >= 8 %}
        {% for js in handler.scripts %}
            <script defer src="{{ handler.static_url('scripts/' + js ) }}"></script>
        {% end for %}
    {% end %}


</head>
<body link="#000000" visited="#000000" text="#000000" bgcolor="#CCCCCC" id="body">

		<div id="spinner" class="black_overlay clear">
		</div> <!-- SpinnerImg is inserted via JS, so it won't show up in lynx or with CSS disabled-->