{% include 'header.html' %}

<table id="wrappertable" class='wrappertable' cellpadding="0" cellspacing="0" valign="top" role="presentation">
    <tr>
        <td id="column1" valign="top" BACKGROUND="/static/images/texture.png" width="180px">
            <div id="scrollablediv1" class="fullscroller">
                {% block column1 %}
                    {% module ShowGlobalmenu(handler=handler) %}
                {% end %}
            </div>
        </td>
        <td id="column2solo" valign="top" colspan="2">
            <div id="scrollablediv2" class="fullscroller">
                {% block column2 %}
                    {% module ShowMessagelist(handler=handler) %}
                {% end %}
            </div>
        </td>
    </tr>
</table>

{% include 'footer.html' %}
