{% extends "Layout-dualpane.html" %}
{% block column2 %}
    {% set _ = handler.add_js(files=['epiceditor.min.js','jquery.ui.widget.min.js','jquery.iframe-transport.min.js','jquery.fileupload.min.js','newmessage.min.js']) %}
	<div id='formwrapper' class="padder">

		{% block submitblock %}
            {# This area is filled in by classes which extend basemessage #}
		{% end %}

		<br/><br/>
		<form class='uploadfileform hiddenupload' action='/uploadfile/fileonly' references='{{handler.timestamp}}' id="file upload-{{handler.timestamp}}" style="position:relative;bottom:5px">
			<div class='uploadbox'>
				<i class='icon-up-circled2'></i>
			</div>
			{% module xsrf_form_html() %}
			<input  class='uploadonly' id="1234" type="file" name="files[]" multiple/>
			<p class='hiddenupload' id='dragdroptext'></p>
		</form>

		<div id='spacer'></div>

		<br>
		<div id='filelist_{{handler.timestamp}}' class='uploadfileform hiddenupload'></div>
		<div id='progress_{{handler.timestamp}}' style="display:none"></div>
	</div> <!-- padder -->

{% end %}
