{% extends "dualpane.html" %}

{% block column2 %}
{% import TavernUtils %}

	{# TimeID is set here, so it is consistent everywhere in this msg #}
	{% set timeid = libtavern.utils.gettime(format='longstr') %}

	<div id='formwrapper' class="padder">
		{% block submitblock %}

		{% end %}
		<br/><br/>
	
		<form class='uploadfileform hiddenupload' action='/uploadfile/fileonly' references='{{timeid}}' id="fileupload-{{timeid}}" style="position:relative;bottom:5px">
			<div class='uploadbox'>
				<i class='icon-up-circled2'></i>
			</div>
			{% module xsrf_form_html() %}
			<input  class='uploadonly' id="1234" type="file" name="files[]" multiple/>
			<p class='hiddenupload' id='dragdroptext'></p>
		</form>

		<div id='spacer'></div>

		<br>
		<div id='filelist_{{timeid}}' class='uploadfileform hiddenupload'></div>
		<div id='progress_{{timeid}}' style="display:none"></div>
	
		
		<script defer src="/static/scripts/epiceditor.min.js?v={{serversettings.settings['static-revision']}}"></script>
		<script defer src="/static/scripts/jquery.ui.widget.min.js?v={{serversettings.settings['static-revision']}}"></script>
		<script defer src="/static/scripts/jquery.iframe-transport.min.js?v={{serversettings.settings['static-revision']}}"></script>
		<script defer src="/static/scripts/jquery.fileupload.min.js?v={{serversettings.settings['static-revision']}}"></script>
		<script defer src="/static/scripts/newmessage.min.js?v={{serversettings.settings['static-revision']}}"></script>
	</div> <!-- padder -->

{% end %}
