{% extends "messageform.html" %}

{% block submitblock %}
<form data-persist="garlic" enctype="multipart/form-data" action="/uploadenvelope/message" method="post" class="messageform" id='{{timeid}}'>
	{% raw xsrf_form_html() %}
	
	{% if topic is None %}
		Topic: <input type="text" size=25 name="topic" placeholder="Try a topic like: Funny" maxlength='200' />
	{% else %}
		<input type="hidden" name="topic" value="{{topic}}">
	{% end %}
    <br>
	Subject: <input type="text" size=85 name="subject" placeholder="Something about your specific post, such as: My Dad's favorite joke" maxlength='200'/><br/>
    <p>
		What would you like your message to say?<br/> 
    </p>

    <div id="contenteditable">
    </div>
    <textarea name="body" rows=8 cols=80 id='textareabody'>
   	</textarea>

	<br/><br/>

	<input class="single_file_upload" type="file" name="attached_file"/><br/>

	<div id="filelist">
	</div>
	<input type="checkbox" name="include_location" {% if user.include_location %}checked{% end %}/>Include Location<br/>
	<input type="submit" value="Submit Message"/>
</form>
{% end %}
