{% extends "dualpane.html" %}

{% block column2 %}

    {% set envelope = stack[0] %}
    {% set medialink = None %}
    {% set permalink = serversettings.settings['webtav']['main_url'] + '/attachment/' + attachment  %}
    <h1> General information regarding {{attachment}} </h1>

    <br><br>
    <ul>

    This file is estimated to be {{round(myattach['filesize'] / 1024.0 /1024.0,3)}} MB.<br>


    It was first seen 
     <abbr title="{{libtavern.utils.gettime(timestamp=envelope['envelope']['local']['time_added'],format='printable')}}">
         <time datetime="{{libtavern.utils.gettime(timestamp=envelope['envelope']['local']['time_added',format='iso')}}">
             {{  libtavern.utils.gettime(format='relative',timestamp=envelope['envelope']['local']['time_added']) }}
         </time>
     </abbr>

    <div class="externalsharing">
                    <a href="http://www.facebook.com/sharer.php?u={{url_for(envelope=envelope)}}&t={{envelope['envelope']['local']['short_subject']}}">
                    <i class="icon-facebook-squared"></i></a>
                    <a href="http://twitter.com/home?status=Check out this post, via @Tavern - {{envelope['envelope']['local']['short_subject']}}%0A%0A%0A{{url_for(envelope=envelope)}}" >
                    <i class="icon-twitter"></i></a>
                    <a href="https://plus.google.com/share?url={{url_for(envelope=envelope)}}">
                    <i class="icon-gplus"></i></a>
                    <a href="http://pinterest.com/pin/create/button/?url={{url_for(envelope=envelope)}}&media={{serversettings.settings['webtav']['downloads_url']}}{{myattach['sha_512']}}">
                    <i class="icon-pinterest"></i></a>
                    </div>
    </ul>
    <br><br>



    {% if preview == True %}
        <h1> Preview </h1>
        <br><br>
        <ul>

        {% if 'detected_mime' in myattach %}
            {% if myattach['detected_mime'] in ['video/mp4','video/webm'] %}
                <video id="my_video_1" class="video-js vjs-default-skin center" controls
                preload="auto" width="640" height="264"
                data-setup="{}">
                    <source src="{{serversettings.settings['webtav']['downloads_url']}}{{myattach['sha_512']}}/{{myattach['filename']}}" type='{{myattach['detected_mime']}}'>
                </video>
            {% end %}
            {% if myattach['detected_mime'] in ['audio/mpeg'] %}
            <audio preload="auto" class="center">
              <source src="{{serversettings.settings['webtav']['downloads_url']}}{{myattach['sha_512']}}/{{myattach['filename']}}" >
            </audio>
            {% end %}
        {% end %}   


        {% if 'displayable' in myattach %}
            {% if myattach['displayable'] is not False %}
                <a href="{{serversettings.settings['webtav']['downloads_url']}}{{myattach['sha_512']}}/{{myattach['filename']}}">
                <img class='center' src="{{serversettings.settings['webtav']['downloads_url']}}{{myattach['displayable']}}" alt="Thumbnail of enclosed image"></a><br>
            {% end %} 
        {% end %} 


        </ul>
        <br><br>

    {% end %} 


    <h1> Messages involving Attachment {{attachment}} </h1>

    <p></p>

    <br><br>
    <ul>
    {% for envelope in stack %}
                <li><a href="{{url_for(envelope=envelope)}}">{{envelope['envelope']['payload']['subject']}}</a>
                </li>
    {% end %}
    </ul>
    <br><br>

{% end %}