
<div class="single">

<h1> Posts for <b>{{thatguy.friendlyname}}@{{thatguy.author_wordhash}} </h1>

<p></p>
<ul>

{% set envelopes = handler.server.get_all_user_posts(thatguy.Keys['master'].pubkey) %}

{% if envelopes %}
    {% for envelope in envelopes %}
        {% if envelope.dict['envelope']['payload']['class'] == 'message' %}
            <li><a href="{{url_for(envelope)}}">{{envelope.dict['envelope']['payload']['subject']}}</a></li>
        {% end %}
    {% end %}
{% else %}
    <b>{{thatguy.friendlyname}}@{{thatguy.author_wordhash}} has not yet posted any messages.
{% end %}

</ul>
</div> <!-- .single -->
