<div class="UserDetails" id="details_{{envelope.dict['envelope']['local']['payload_sha512']}}">
    <abbr title='You {{handler.user.translateTrustToWords(trust)}} this user : {{trust}}'>
        <div id="textVersionOfRating">
            {% if trust > 50 %}
                This user is allowed to rate comments.
            {% elif trust < 50 and trust >0 %}
                This user's ratings have a slight effect on a comment's score.
            {% elif trust <= 0 %}
                This user's ratings have no effect on a comment's score.
            {% end %}
         </div>
    </abbr>
        {% if trust < 100 %}
            <div class='DetailsOption'>
                <i class="icon icon-plus-circled"></i>
                    <form action="/usertrust" method="post">
                        {% module xsrf_form_html() %}
                        <input type="hidden" name="trust" value="100">
                        {% if 'topic' in envelope.dict['envelope']['payload'] %}
                            <input type="hidden" name="topic" value="{{envelope.dict['envelope']['payload']['topic']}}">
                        {% end %}
                        <input type="hidden" name="trusted_public_key" value="{{envelope.dict['envelope']['local']['author']['public_key']}}">
                        <input class="textbutton icon-label" type="submit" value="Endorse this user">
                    </form>
            </div>
        {% end %}
        {% if trust > -100 and trust < 100 %}
            <div class='DetailsOption'>
                <i class="icon icon-minus-circled"></i>
                <form action="/usertrust" method="post">
                    {% module xsrf_form_html() %}
                    <input type="hidden" name="trust" value="-100">
                    {% if 'topic' in envelope.dict['envelope']['payload'] %}
                        <input type="hidden" name="topic" value="{{envelope.dict['envelope']['payload']['topic']}}">
                    {% end %}
                    <input type="hidden" name="trusted_public_key" value="{{envelope.dict['envelope']['local']['author']['public_key']}}">
                    <input class="textbutton icon-label" type="submit" value="Warn others about this user.">
                </form>
            </div>
        {% end %}
        <form action="/usernote" method="post" class="usernote">
             {% module xsrf_form_html() %}
            <input type="hidden" name="public" value="{{envelope.dict['envelope']['local']['author']['public_key']}}">
            <input class="usernote" type="text" value="" name="note"
            {% if note is None %}
                {% set placeholder="Add a note to yourself about this user" %}
            {% else %}
                {% set placeholder=note %}
            {% end %}
            >
        </form>
        <div class='DetailsOption'>
            <i class="icon icon-twitter-squared"></i>
            <a href="{{url_for(user=envelope.dict['envelope']['local']['author']['public_key'])}}">Full Details</a>
        </div>
</div>
