{% if 'attachmentlist' in envelope.dict['envelope']['local'] %}
    <div class="attachments">
        {% if len(envelope.dict['envelope']['local']['attachmentlist']) > 1%}
            Attached Files:<br>
        {% elif len(envelope.dict['envelope']['local']['attachmentlist']) > 0 %}
            Attached File: <br>
        {% end %}
        {% for attachment in envelope.dict['envelope']['local']['attachmentlist'] %}
            {% if 'detected_mime' in attachment %}
                {% if attachment['detected_mime'] in ['video/mp4','video/webm'] %}
                    <video id="my_video_1" class="video-js vjs-default-skin" controls
                    preload="metadata" width="640" height="264"
                    data-setup="{}">
                        <source src="{{handler.server.serversettings.settings['webtav']['downloads_url']}}{{attachment['sha_512']}}/{{attachment['filename']}}" type='{{attachment['detected_mime']}}'>
                    </video>
                {% end %}
                {% if attachment['detected_mime'] in ['audio/mpeg'] %}
                    <audio preload="metadata">
                      <source src="{{handler.server.serversettings.settings['webtav']['downloads_url']}}{{attachment['sha_512']}}/{{attachment['filename']}}">
                    </audio>
                {% end %}

            {% end %}

            {% if 'displayable' in attachment %}
                {% if attachment['displayable'] %}
                    <a href="{{handler.server.serversettings.settings['webtav']['downloads_url']}}{{attachment['sha_512']}}/{{attachment['filename']}}">
                        <img src="{{handler.server.serversettings.settings['webtav']['downloads_url']}}{{attachment['displayable']}}" alt="Thumbnail of enclosed image">
                        <br>
                    </a>
                {% end %}
            {% end %}


            <a href="{{handler.server.serversettings.settings['webtav']['downloads_url']}}{{attachment['sha_512']}}/{{attachment['filename']}}" download="{{attachment['filename']}}">
                <bdi>{{attachment['filename']}}</bdi></a>  ({{ round(attachment['filesize'] / 1024 / 1024,2) }} MB)
            <a href="/attachment/{{attachment['sha_512']}}"> <i class='icon-info-circled'></i></a>
            <br>
        {% end %}
    </div>
{% end %}

{% if len(envelope.dict['envelope']['local']['embed']) > 0 %}
    {% if handler.user.allowembed is True %}
        <div class='embedded'>
        Linked Content:<Br>
            {% for embed in envelope.dict['envelope']['local']['embed'] %}
                {{ embed }}
            {% end %}
        </div>
    {% elif handler.user.allowembed is None %}
        <i class="icon-picture embeddedcontentnote"></i>
        <div id="embededcontent_{{envelope.dict['envelope']['local']['payload_sha512']}}" class="embededwarning" stufftoshow="Linked Content:<br>
            {% for embed in envelope.dict['envelope']['local']['embed'] %}
                {{ embed }}
            {% end %}
            ">
            <br>
            This message contains a link to a picture or movie hosted by some other service.<Br>
            Tavern can automatically display a lot of linked content, but (like any webpage) the site it's loaded from will know you viewed it.<br>
            <br>
            <form action="/changesetting/showembeds" method="post" class='alwaysdisplay'>
                {% module xsrf_form_html() %}
                <input type="submit" value='Always display external content' class="textbutton"> <br>
            </form>
            <br>
            <p>You can always change this setting in <a href="{{url_for(user=Keys['master'].public)}}">your user preferences</a></p>
        </div>
    {% elif handler.user.allowembed is False %}
        {# Pass. This is intentionally blank for users who have opted out of embeds #}

    {% end %}
{% end %}
