{% extends "Layout-dualpane.html" %}

{% block column2 %}

    <h1> Details about <b>{{thatguy.friendlyname}}@{{thatguy.author_wordhash}} </h1>

    <img class="bigavatar" id="avatar_{{thatguy.Keys['master'].pubkey}}" class="portrait" width="200px" height="200px"
        alt="User Portrait" src="{{handler.server.external.getavatar(myid=thatguy.Keys['master'].pubkey,datauri=False,height=200,width=200)}}" /><br>
    {# If it's me, include my settings page #}
    {% if thatguy.Keys['master'].pubkey == handler.user.Keys['master'].pubkey %}
        {% include 'mysettings.html' %}
    {% else %}
        {# See if he's posted a communication Key #}
        {# for post in handler.server.get_all_user_posts(thatguy.Keys['master'].pubkey) #}
        {% if thatguy.Keys['posted'] is not None %}
            <p><a href="/pm/{{thatguy.Keys['posted'][0]}}">Send <b>{{thatguy.friendlyname}}@{{thatguy.author_wordhash}} a private message</a></p>
        {% end %}
    {% end %}


    {% set trust = handler.user.gatherTrust(askingabout=thatguy.Keys['master'].pubkey) %}
        You <abbr title='{{trust}}'>{{handler.user.translateTrustToWords(trust)}}</abbr> this user.<br>
        {% set note = handler.user.get_note(thatguy.Keys['master'].pubkey) %}
        {% if note is not None %}
            You set the following note about this user:<Br>
            <div class="note"><i>{{note}}</i></div>
        {% end %}
            <br><br>

            Set a note about this user:<Br>
            <form action="/usernote" method="post" class="usernote">
                 {% module xsrf_form_html() %}
                <input type="hidden" name="pubkey" value="{{thatguy.Keys['master'].pubkey}}">
                <input class="usernote" type="text" value="" name="note" {% if note is None %} placeholder="Add a note about this user" {% else %} placeholder="{{note}}" {% end %} >
            </form>

    <Br><br><br>

    {% include 'showuserposts.html' %}

{% end block2 %}
