{#
   This file does very little right now.
   It is here so that we can consistantly call Views, rather than layouts directly.
   This allows the tripane layout to be called by multiple Views without confusion.
#}

{% extends "Layout-tripane.html" %}
{% block column3 %}
        {% if handler.displayenvelope is None %}
            {% set handler.displayenvelope = handler.topic.messages()[0] %}
        {% end if %}
        {% module ShowMessage(envelope=handler.displayenvelope,top=True) %}
{% end column3 %}
