{% extends "Layout-dualpane.html" %}
{% block column2 %}
    <div class="login">
        <h1>Login to Tavern</h1>
        <p></p>
        <form action="/login" method="post">
            {% module xsrf_form_html() %}
            <p>
            Username: <input type="text" name="username">
            </p><p>
            Password: <input type="password" name="pass">
            </p>
            <p>
            <input type="submit" value="Login">
            </p>
        </form>
    </div>
{% end block2 %}
