{% extends 'Layout-dualpane.html' %}
{% block column2 %}

	<h1>All Topics</h1>

	<p>Here is a list of topics.<Br>
			If you find ones you like, you can save them to your favorites on the left.
	</p><br><Br><p>

	<ul>
		{% for topic in topics %}
		    <li><b><a href="{{url_for(topic=topic)}}" <bdi>{{topic.name}} - {{topic.count()}} posts</bdi></a></b>  -
                {% if user.follows_topic(topic.name) %}
                    <form class = "followtopic" action="/changesetting/unfollowtopic" method="post">
                        {% module xsrf_form_html() %}
                        <input type="hidden" value="{{topic.sortname}}" name="topic">
                        <input type="submit" value='Remove from saved topics' class="textbutton topicpref">
                    </form>
                {% else %}
                    <form class = "followtopic" action="/changesetting/followtopic" method="post">
                        {% module xsrf_form_html() %}
                        <input type="hidden" value="{{topic.sortname}}" name="topic">
                        <input type="submit" value='Save this topic' class="textbutton topicpref">
                    </form>
                {% end %}
		    </li>
		{% end %}
	</ul>

{% end %}



