{% extends 'Layout-dualpane.html' %}
{% block column2 %}

    <h1>{{handler.topic.name}} Preferences</h1>
        <div class="padder">
                <br>
                Showing Preferences for {{handler.topic.name}}.  <p>
                <Br>
                <a href="/rss/topic/{{handler.topic.sortname}}"><i class="icon-rss-squared"></i> RSS</a><br>
                <p>
                {% if handler.user.follows_topic(handler.topic) %}
                    <form class = "followtopic" action="/changesetting/unfollowtopic" method="post"> <input type="hidden" value="{{handler.topic.sortname}}" name="topic">   {% module xsrf_form_html() %} <input type="submit" value='Unsubscribe from "{{handler.topic.name}}"' class="textbutton topicpref"></form>
                    {% else %}
                    <form class = "followtopic" action="/changesetting/followtopic" method="post"> <input type="hidden" value="{{handler.topic.sortname}}" name="topic">   {% module xsrf_form_html() %} <input type="submit" value='Subscribe to "{{handler.topic.name}}"' class="textbutton topicpref"></form>
                {% end %}
                <p>
                The following users are popular moderators, you might want to consider adding them:<br>
                <ul>
                {% for mod in mods %}
                    <li>
                    <abbr title="Moderator@{{mod['public_key']}}">
                        <a href="{{url_for(pubkey=mod['public_key'])}}">
                            <img class="avatar" alt="User Avatar for post" src="{{handler.server.external.getavatar(myid={{''.join(mod['_id']['moderator'].split()),datauri=handler.datauri,height=40,width=40)}}"/>
                        </a>
                        <a href="{{url_for(pubkey=mod['_id']['moderator'])}}">
                            <b>Moderator</b>@{{mod['_id']['moderator_pubkey_sha512'][0:6]}}..<br />
                        </a>
                    </abbr>
                    </li>
                    <br><Br>
                {% end %}
                </ul>
        </div>

{% end %}

