{% extends 'Layout-dualpane.html' %}
{% block column2 %}

	<h1>{{handler.topic.name}} Preferences</h1>
		<div class="padder">
				<br>
				Showing Preferences for {{handler.topic.name}}.  <p>
				<Br>
				<a href="/rss/topic/{{handler.topic.sortname}}"><i class="icon-rss-squared"></i> RSS</a><br>
				<p>
				{% if handler.user.follows_topic(handler.topic) %}
					<form class = "followtopic" action="/changesetting/unfollowtopic" method="post"> <input type="hidden" value="{{handler.topic.sortname}}" name="topic">   {% module xsrf_form_html() %} <input type="submit" value='Unsubscribe from "{{handler.topic.name}}"' class="textbutton topicpref"></form>
					{% else %}
					<form class = "followtopic" action="/changesetting/followtopic" method="post"> <input type="hidden" value="{{handler.topic.sortname}}" name="topic">   {% module xsrf_form_html() %} <input type="submit" value='Subscribe to "{{handler.topic.name}}"' class="textbutton topicpref"></form>
				{% end %}
				<p>
				The following users are popular moderators, you might want to consider adding them:<br>
				<ul>
				{% for mod in mods %}
					<li>
					<abbr title="Moderator@{{mod['_id']['moderator_pubkey_sha512']}}">
						<a href="{{url_for(pubkey=mod['_id']['moderator'])}}">
		    				<img class="avatar" alt="User Avatar for post" src="/avatar/{{''.join(mod['_id']['moderator'].split())}}.png?set=any&amp;bgset=any&amp;size=40x40"/>
		    			</a>
		    			<a href="{{url_for(pubkey=mod['_id']['moderator'])}}">
		    				<b>Moderator</b>@{{mod['_id']['moderator_pubkey_sha512'][0:6]}}..<br />
						</a>
					</abbr>
					</li>
					<br><Br>
				{% end %}
				</ul>
		</div>

{% end %}

