{% extends "Layout-tripane.html" %}

{% block column3 %}
    <div class="infobox">
        <h1>Message History</h1>

        {% for index,edit in enumerate(edits) %}
            <li class='editline'>
                <a href={{url_for(edit)}}
                    <time datetime="{{{utils.gettime(timestamp=edit.dict['envelope']['local']['time_added'],format='iso') }}">
                        Version # {{index}} - {{utils.gettime(timestamp=edit.dict['envelope']['local']['time_added'],format='printable') }}
                    </time> - {{edit.dict['envelope']['payload']['subject']}}
                </a>

                {% module ShowMessage(envelope=edit,top=False) %}

            </li>
        {% end %}
        <ul>

    </div>

{% end column3 %}
