$purple: #4c4c9c;


$grey: #cccccc;
$lightgrey: #eaeaea;
$darkgrey: #333333;
$bluegrey: #404247;
$greybrown: #56504d;


$nearblack: #0f0f0e;
$creme: #e6e2d7;

$gradient1: #2d2d2d;
$gradient2: #393939;

$gradientHL: mix($creme,lighten(mix($gradient1,$gradient2),10%));
