// Imported/forked from from http://kevinburke.bitbucket.org/markdowncss/markdown.css

// Standardize defaults
@import 'normalize';


body{
    margin: 0 auto;
    font-family: Georgia, Palatino, serif;
    line-height: 1;
    max-width: width 80%;
    padding: 30px;
}

h1, h2, h3, h4 {
    font-weight: 400;
    padding-top:2px;
}
h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
    /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
    margin: 24px 0 6px;
}
h3 {
    font-size: 120%;
}
h4 {
    font-size: 110%;
}
h5 {
    font-size: 105%;
}
a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a:hover {
    text-decoration: underline;
}
ul, ol {
    padding: 0;
    margin: 0;
    padding-left:20px;
    list-style-type: disc;
}
li {
    line-height: 24px;
}
li ul, li ul {
    margin-left: 24px;
}
p, ul, ol {
    font-size: 16px;
    line-height: 24px;
    max-width: 80%;
}
pre {
    padding: 0px 24px;
    max-width: 50%;
    white-space: pre-wrap;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}
aside {
    display: block;
    float: right;
    width: 50%;
}
blockquote {
    border-left:.5em solid #eee;
    padding: 0 2em;
    margin-left:0;
    max-width: 80%;
}
blockquote  cite {
    font-size:14px;
    line-height:20px;
}
blockquote cite:before {
    content: '\2014 \00A0';
}

blockquote p {  
    max-width: 50%;
}
hr {
    width: 50%;
    text-align: left;
    margin: 0 auto 0 0;
}
