<div class="single">
<h1> Your user settings <br />
</h1>
<p></p>
<ul>

<p>
<form enctype="multipart/form-data" action="/changesettings" method="post">
  {% raw xsrf_form_html() %}

{% if user.UserSettings['username'] != "Anonymous" %}
<p>Your username (for logging in) is {{user.UserSettings['username']}}</p>
{% else %}
<p>You have not registered yet. Your settings will be saved, but you will not be able to log in from any other browsers or devices until you register.</p>
{% end %}
<p>Your messages will display the alias: <input type="text" size=25 name="friendlyname" value="{{user.UserSettings['friendlyname']}}">@{{user.UserSettings['author_pubkey_sha1']}} </p> 
<br><p>
Number of top-level posts per page : <input type="text" size=3 name="maxposts" value="{{user.UserSettings['maxposts']}}"><br>
Number of replies per page : <input type="text" size=3 name="maxreplies" value="{{user.UserSettings['maxreplies']}}"><br>
<br><p>

Show images and video from external sources:
<input type='checkbox' name='allowembed' {% if user.UserSettings['allowembed'] == 1 %} checked {% end %} >
<br><p>
Include location with posts by default : <input type="checkbox" name="include_location" {% if user.UserSettings['include_location'] == True %}checked{% end %}>
<br><p>
Display the name of the client used to post a message: <input type="checkbox" name="display_useragent" {% if user.UserSettings['display_useragent'] == True %}checked{% end %}>

{% if len(server.availabletemplates) > 1 %}
<br>
Which theme should Tavern use: 
<select name='template'>
    {% for i in server.availabletemplates %}
    <option value="{{i}}">{{i}}</option>
    {% end %}
</select>
{% end %}


<br>
<input type="submit" value="Update Settings">


</form>

</p>



</ul>
</div> <!-- .single -->
