
Message posted by: <abbr title="{{envelope['envelope']['payload']['author']['friendlyname']}}@{{envelope['envelope']['payload']['author']['pubkey']}}">{{envelope['envelope']['payload']['author']['friendlyname']}}@{{envelope['envelope']['payload']['author']['pubkey'][28:44]}}</abbr>... [ Trusted at level: {{usertrust}} ]<br>
<br>


<form action="/usertrust" method="post">
  {% raw xsrf_form_html() %}
<input type="hidden" name="trust" value="100">
<input type="hidden" name="pubkey" value="{{envelope['envelope']['payload']['author']['pubkey']}}">
<input type="submit" value="Trust This User">
</form>

<form action="/usertrust" method="post">
  {% raw xsrf_form_html() %}
<input type="hidden" name="trust" value="-100">
<input type="hidden" name="pubkey" value="{{envelope['envelope']['payload']['author']['pubkey']}}">
<input type="submit" value="Distrust This User">
</form>

<br>
<a href="/showuserposts/{{envelope['envelope']['payload']['author']['pubkey']}}">Show all posts by this user.</a>
<br>
<br>
<a href="/uploadprivatemessage/{{envelope['envelope']['payload']['author']['pubkey']}}">Send This user a Private Message.</a>
<br>

<p>Subject: {{envelope['envelope']['payload']['subject']}}</p>
<p>Body: {{formattedbody}}</p>


{% if 'coords' in envelope['envelope']['payload']  %}
	<p>Coords: {{envelope['envelope']['payload']['coords']}}</p>
{% end %}
