@charset "UTF-8";


.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-info-circle:before { content: '\e705'; } /* '' */
.icon-up-circle2:before { content: '\e75b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */