@font-face {
    font-family: 'GeosansLightRegular';
    src: url('/static/fonts/geosanslight-webfont.eot');
    src: url('/static/fonts/geosanslight-webfont.eot?#iefix') format('eot'),
         url('/static/fonts/geosanslight-webfont.woff') format('woff'),
         url('/static/fonts/geosanslight-webfont.ttf') format('truetype'),
         url('/static/fonts/geosanslight-webfont.svg#webfontY02WmcuR') format('svg');
    font-weight: normal;
    font-style: normal;

}
