/*      Reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, a,video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;

font-weight: inherit;
font-style: inherit;
font-family: inherit;
vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
        display: block;
}

/* set the Z-index to ensure this is on-top and clickable */
i {
  position:relative;
  z-index:10;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
}
form {
  display: inline;
  margin: 0;
  padding: 0;
}

.textbutton {
     position:relative;
     border: 0px;
     background-color: transparent;
     text-decoration:none;  
     margin: 0;
     padding: 0;
}
.textbutton:hover, a:hover{
  color:#BBBBBB;
  text-decoration: none;
  color: #4c4c9c;

} 


a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}


.padder { padding-left: 15px; 
          padding-top:  15px;
          padding-bottom: 0px;
          padding-right: 15px;
}

.clear { clear: both; }


#menubuttons li{ 
  float: left;
  padding: 10px 15px;

    background: #272321; 
    color: #ffffff;
  text-decoration: none;
  border-top: 1px solid #372F2b;
  border-bottom: 1px solid #21110b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



.comment_bottom {
    padding-top: 5px;
    padding-bottom: 12px;
}



form.vote {

  animation-duration: 0.001s;
  -o-animation-duration: 0.001s;
  -ms-animation-duration: 0.001s;
  -moz-animation-duration: 0.001s;
  -webkit-animation-duration: 0.001s;
  animation-name: nodeInserted;
  -o-animation-name: nodeInserted;
  -ms-animation-name: nodeInserted;        
  -moz-animation-name: nodeInserted;
  -webkit-animation-name: nodeInserted;


}

.single {
    top: 20px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    min-width:500px;  

    width: 75%;
    background: #ffffff;
    position:relative; 
    overflow:hidden;
    border:2px solid;
    border-color: #a9a9a9;
    }

.single p {
    padding-left: 20px;
    padding-top: .5em;
    padding-bottom: 0px;
}   

.single form, .single ul {
    padding-left: 20px;
    padding-bottom: 10px;
}   

.single li {
    padding-left: 20px;
    padding-top: .5em;

}   

    
.single .padder { background: #ffffff; }

.single > h1 {
    font-size: 14px; 
    font-weight: bold; 
    text-transform: uppercase;
    background: #d8d8d8;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #a9a9a9;
    color: #2d2d2d;
    padding-left: 20px;

}
.single h3 { font-weight: bold; font-size: 14px; color: #353535; padding: 0 0;}


.userportrait {
  width: 50% ;
  min-width: 350px;
  }

.portrait{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}




#userblock{
     position:relative;
     float: right;
}



#spinner{
    display: none;
    position: absolute;
  background-color:black;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index:1001;
    -moz-opacity: 0.2;
    opacity:.20;
    filter: alpha(opacity=20);
}

#spinner img,i{
    float:right;
}
  
.details {
  position:relative;
}


.UserDetails {
  position:absolute;
  width:400px;
  color:#ffffff;
  cursor:normal;
  display:none;
  margin-top:12px;
  font-weight: bold;
  text-decoration:none;  
  font-size: 12px;
  line-height: 18px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:12px;
  font-family:arial;
  padding:.5em 1em;
  text-align:center;
  text-shadow:0 -1px 1px #111111;
  -webkit-border-top-left-radius:4px ;
  -webkit-border-top-right-radius:4px ;
  -webkit-border-bottom-right-radius:4px ;
  -webkit-border-bottom-left-radius:4px ;
  -khtml-border-top-left-radius:4px ;
  -khtml-border-top-right-radius:4px ;
  -khtml-border-bottom-right-radius:4px ;
  -khtml-border-bottom-left-radius:4px ;
  -moz-border-radius-topleft:4px ;
  -moz-border-radius-topright:4px ;
  -moz-border-radius-bottomright:4px ;
  -moz-border-radius-bottomleft:4px ;
  border-top-left-radius:4px ;
  border-top-right-radius:4px ;
  border-bottom-right-radius:4px ;
  border-bottom-left-radius:4px ;
  -o-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  -moz-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  -khtml-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  -webkit-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  background-color:#3b3b3b;
  background-image:-moz-linear-gradient(top,#555555,#222222);
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#555555),color-stop(1,#222222));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
  z-index:10;
}
.UserDetails:after{
  content:"\25B8";
  display:block;
  font-size:2em;
  height:0;
  line-height:0;
  position:absolute;
  bottom:auto;
  color:#4f4f4f;
  left:-2px;
  top:0;
  text-align:center;
  text-shadow:none;
  -o-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -khtml-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  width:30%;
  z-index:10;
}

.UserDetails_right
{
  right:10px;
}

.UserDetails_left
{
  left:10px;
}

/* Proper floating per side! */
.thread_right > .UserDetails:after{
  margin-left:78%;
}
.thread_left > .UserDetails:after{
  margin-left:-9%;
}

.UserDetails a:link, .UserDetails a:visited, a:active{
  color:#DDDDDD;
} 
.UserDetails a:hover{
  color:#BBBBBB;
} 

.usernote {
border:none;
background-color:#ddd;
width:90%;
}

.usernote::-moz-placeholder, .usernote::-webkit-input-placeholder
{
  text-align:center;
}


.embededwarning {
  display: none;
  font-size: 85%; 
  line-height: 100%;
}

.textmodeinfo{
  display:none;
}
  
.uploadfileform{
  margin-top:-20px;
}

.uploadonly{
  margin-top:10px;
  margin-left:10px;
}

.uploadbox{
    height: 50px;
    width:50px;
    border: 2px dashed;
    float:left;
    border-color:#999999;
}
.icon-up-circle2{
  font-size: 35px;
  bottom:-7px;
  right:-7px;
  position:relative;
  color:#999999;
}
.icon-up-circle2:hover{
  color:#000000;
}
.icon-spin5{
  color:#FFFFFF;
  font-size:30px;
}

.uploadfileform > p
{
  padding-left: 75px !important;
}
.hiddenupload{
  display:none;
}


/* NEWSTART */

@charset "UTF-8";
/* CSS Document */

body {
  background-color: #ffffff;
  }
    h4 {
      color: #333333;
      }
      
      h6 {
        margin-left: 10px;
        margin-bottom: 5px;
        }
        
      
    
    #column2HR {
      height: 5px;
      width: 100%;
      margin-left: 20px;
      margin-top: 17px;
      margin-bottom: 17px;
      background-color: #cccccc;
      border: none;
      float: left;
      }

      #column2Topic {
        font-family: 'Lato', sans-serif;
        margin-left: 20px;
        font-weight: bold;
        }
      #column2MsgCount {
        font-family: 'Lato', sans-serif;
        margin-left: 20px;
        font-weight: normal;
        }
        


      
      #rightColumnTopHR {
          height: 5px;
          width: 100%;
          border: none;
          margin-top: 17px;
          margin-bottom: 7px;
          display: block;
          float: left;
          background-color: #4a525a;
          }

  #wrappertable {
    margin-left: 0px;
    margin-right: 15px;
    height:100%;
    }
    
    #firstMessage {
      margin-top:35px;
      font-family: 'Lato', sans-serif;
      background-color: #56504d; 
      background-image: url(/static/images/texture.png);
      }
      
      #bigProfileIcon {
        margin-left: 14px;
        margin-right: 14px;
        margin-top: 12px;
        }
        
        #column3 h5 {
          font-size: 28px;
          height:1em;
          overflow:hidden;
          font-style: normal;
          color: #ece9d7;
          margin-right: 40px;
          margin-top: 10px;
          }
          
          .firstMessageAuthorInfo {
            font-size: 15px;
            color: #ece9d7;
            margin-top: 10px;
            padding-bottom: 10px;
            }

          .firstMessageDate {
            font-size: 15px;
            color: #ece9d7;
            margin-bottom: 10px;
            }
            
            #firstMessageBody {
              margin-bottom: 18px;
              margin-top: 22px;
              font-family: 'Lato', sans-serif;
              color: #ffffff;
              font: 13px;
              line-height: 16px;
              }
              
            .firstMessageSeparationLine {
                height: 1px;
                width: 422px;
                border: none;
                background-color: #898c8e;
                margin-left: 0px;
                }
                
                .commentSeparationLine {
                  height: 1px;
                  width: 422px;
                  border: none;
                  background-color: #898c8e;
                  margin-left: 14px;
                  margin-right: 14px;
                  margin-top: 13px;
                  margin-bottom: 10px;
                  float: left;
                  }
                
                .commentSeparation {
                  height: 5px;
                  width: 100%;
                  border: none;
                  display: block;
                  float: left;
                  background-color: #cccccc;
                  }
                  
            .messageDate {
            font-size: 15px;
            color: #ece9d7;
            margin-bottom: 10px;
            }
                  
    
    #column1 {
      min-width: 80px;
      width:180px;
      vertical-align: top;
      background-color: #56504d;
      background-image: url(/static/images/texture.png);
      background-repeat: repeat;
      }
      
      #logo {
        margin-top: 20px;
        margin-bottom: 10px;

        display: block;
        margin-left: auto;
        margin-right: auto;
        }

          
      button {
        cursor: pointer;
        }
          
      .navigationHeader {
        width:100%;
        height: 35px;
        border: solid 1px #161616;
        background-color: #333333; 
          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2d2d2d), to(#393939));
            background-image: -webkit-linear-gradient(top, #2d2d2d, #393939); 
          background-image: -moz-linear-gradient(top, #2d2d2d, #393939);
          background-image: -ms-linear-gradient(top, #2d2d2d, #393939);
          background-image: -o-linear-gradient(top, #2d2d2d, #393939);
        text-align: center;
        }

      .navigationHeader a {
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          }
        
        a:link {
          text-decoration: none;
          color: #d9d5c4;
          }
          
        a:visited {
          text-decoration: none;
          color: #d9d5c4;
          } 
          
        #column1 ul li a:link {
          text-decoration: none;
          color: #cccccc;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          padding-right: 20px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 20px;
          } 
          
        #column1 ul li a:visited {
          text-decoration: none;
          color: #cccccc;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          }
          
         #column1 ul li a:hover {
          text-decoration: none;

          padding-right: 20px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 20px;
          color: #0f0f0e;
          font-weight: bold;
          background-color: #e2ddd0;
          font-family: 'Lato', sans-serif;
          }

        #column1 ul li a {
          display: block;
          padding-left: 20px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          }
          
        #column1 ul li a:active {
          text-decoration: none;
          color: #0f0f0e;
          }
          
          
       .column2Buttons {
         width: 119px;
         height: 28px;
         margin-top: 22px;
         margin-bottom: 18px;
         border: 1px solid #dedede;
         background-color: #f6f6f6;
         -moz-border-radius: 3px;
         -webkit-border-radius: 3px;
         border-radius: 3px;
         -khtml-border-radius: 3px;
         background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#f0f0f0));
         background-image: -webkit-linear-gradient(top, #f9f9f9, #f0f0f0); 
         background-image: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
         background-image: -ms-linear-gradient(top, #f9f9f9, #f0f0f0);
         background-image: -o-linear-gradient(top, #f9f9f9, #f0f0f0);

         }
         
      #column2ButtonLeft {
        margin-left: 20px;
        margin-right: 9px;
        }
        #column2ButtonRight {
        margin-right: 15px;
        }

        #OlderMessages {
         width: 140px;
         margin-right: 15px;
        }
        #NewerMessages {
         width: 140px;
        margin-left: 20px;
        margin-right: 9px; 
        }
        

        
      
    #column2 {
      min-width: 80px;
      width:320px;
      vertical-align: top;
      }
            
    #column3 {
      width:100%;
      }
      
    #column3 ul li {
      padding-left: 20px;
      }

    #cell5 {
      }
      
      .floatLeft {
        float: left;
        }
        
      .floatRight {
        float: right;
        }
        
      .clear {
        clear: both;
        }
        
      .displayBlock {
        display: block;
        }
        
      .displayInlineBlock {
        display: inline-block;
        }
      
      .navIcon {
        font-size:20px;
        float:left;
        }
        
      .navHeader {
        margin-left: 11px;
        margin-top: 6px;
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        float: inherit;
        }
        
      .column2Buffer {
        margin-top: 20px;
        } 
        
      .messages {
        padding-bottom:0px;
        max-height: 55px;
        margin-right:15px;
        border-top: 1px solid #dbdada;
        border-right: 1px solid #dbdada;
        border-bottom: 1px solid #d0cfcf;
        background-color: #ebebeb;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f7f7), to(#e7e7e7));
        background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
        background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
        background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
        background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
        overflow:hidden;
        }
        
       .messagesPadding {
         font-family: 'Lato', sans-serif;
         color: #666666;
         margin-left: 22px;
         margin-right: 30px;
         margin-top: 11px;
         margin-bottom: 11px;
           }
         
      #firstMessageLinks {
        margin-left:9px;
      }


      .messageCommands
      {
        margin-left:250px;
      }
      .messageReplyLink
      {
        margin-left:350px;
      }
         
       .iconLabels {
         font-family: 'Lato', sans-serif;
         font-size: 12px;
         font-weight: bold;
         margin-left: 5px;
         margin-right: 20px;
         }
         
         .iconLabelColorDark {
           color: #666666 !important;
           }
         
         .iconLabelColorLight {
           color: #d6d6d6;
           }
           
       #lowerCommentSeparation {
         width:100%;
         }
         
         .likeDislikeIcon {
           margin-bottom: 8px;
           }
           
         .likeDislikeLabel {
           margin-left: 5px;
           margin-bottom: 11px;
           }
        
        #scrollBar {
          margin-top: 11px;
          margin-bottom: 17px;
          }
          
          .commentDisplayOptions {
            margin-top: 15px;
            margin-right: 20px;
            }
            
          .buffer {
            margin-left: 14px;
            }
            
          .paraBuffer {
            margin-top: 19px;
            margin-bottom: 17px;
            }



.comment {
  width: auto;
  padding: 20px;
  background: #adadad;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0px 3px 3px #b5b39a;
  -moz-box-shadow: 0px 3px 3px #b5b39a;
  -webkit-box-shadow: 0px 3px 3px #b5b39a;
  margin-top:10px;
}

.darkClass
{
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
}


#sliderResults{
  position:relative;
  top:20px;
  
}


#commentSliderWrapper{
  width:418px;
  margin-top:10px;
  /* margin-left is to counteract the endcap */
  margin-left:11px;

}


#unshownComments:after
{ 
  /* Put in the end cap using css wizardry */
  background:url(/static/images/rightSliderCap.png);
  content: "";
  width: 13px;
  height: 20px;
  position: absolute;
  top: -0px;
  left: 100%;
  margin-left:-1px

}


#shownComments{
  background: url('/static/images/shownComments.png') repeat-x;
  vertical-align:text-top;
  overflow:visible;
}


#shownComments:before
{ 
  /* Put in the end cap using css wizardry */
  background:url(/static/images/leftSliderCap.png);
  content:"";
  width:13px;
  height:20px;
  position:absolute;
  top:-0px;
  left:-13px;
}

#unshownComments{
  background:url('/static/images/unshownComments.png') repeat-x;
  overflow:visible;
}

#shownComments span{
  width:100%;
  position:relative;
  display:block;
  content:"";
}


#commentSlider{
  border:none;
}

#commentSlider td{
  border:none;
}

.commentSliderGrip{
  cursor:e-resize;
  background-image: url('/static/images/roundslider.png');
  z-index:8;
  width:20px;
  height:20px;
}


.commentSliderDrag .commentSliderGrip, .commentSliderGrip:hover{
}

.sliderrounds
{
  display: none;
}

.commentavatar
{
  margin-right:10px;
}

@keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
}

@-moz-keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
}

@-webkit-keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
}

@-ms-keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
}

@-o-keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
} 

