
@font-face {
    font-family: 'FiraSans';
    src: url('/static/fonts/FiraSansSC-Light.eot') format('eot'),
        url('/static/fonts/FiraSans-Light.ttf') format('ttf'),
        url('/static/fonts/FiraSans-Light.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}

