

		<div class="clear"></div>
		</div><!-- #content -->
	
	<footer id="footer">
		<p>Use of this site constitutes acceptance of our <a rel="nofollow" href="/sitecontent/af96264d5d7e7dfc7b060ed0426557f78c2284c4de2af850afca15e1ddcd1a3eeaed9c848ebab0d0e025e7ed79381f2f7a6ddfddd82d522b949218cd334959f5">User Agreement</a>. Copyright &copy; 2012 - Pluric.com </p>

	</footer>
</div><!-- #limits -->
<script>
if (head.browser.ie)
{
  if ( parseFloat(head.browser.version) == 6 )
  { 
    head.js("/static/scripts/IE9.js");
  }
    
  if ( parseFloat(head.browser.version) > 7 )
  {
  head.js("/static/scripts/jquery.min.js");
  }
}
else
{
  head.js("/static/scripts/jquery.min.js");
}
</script>
<script src="/static/scripts/default.js"></script>

</body>
</html>

