

		<div class="clear"></div>
		</div><!-- #content -->
	
	<footer id="footer">
		<p>Use of this site constitutes acceptance of our <a rel="nofollow" href="/sitecontent/b950db543dd0bb10c55f655719ef2e767a815093c8eeb1b35078a0921736b44a86c21217376be2bd4367be6f9a0ffc408ad6fb3096cfe2654994ed919b2159b6">User Agreement</a>. Copyright &copy; 2012 - Pluric.com </p>

	</footer>
</div><!-- #limits -->
<script>
if (head.browser.ie)
{
  if ( parseFloat(head.browser.version) == 6 )
  { 
    head.js("/static/scripts/IE9.js");
  }
    
  if ( parseFloat(head.browser.version) > 7 )
  {
  head.js("/static/scripts/jquery.min.js");
  }
}
else
{
  head.js("/static/scripts/jquery.min.js");
}

</script>

<script src="/static/scripts/default.js"></script>
<script> head.js("/static/scripts/tooltip.js");</script>


</body>
</html>

