	<!-- Hey, Source Reader!
	Welcome to Pluric. I know my coding skills are somewhat sub-par, but if you have any suggestions, I'd love to hear them.
	Email me - colin@pluric.com
	Anyway, Enjoy the site, eh?"
	-->
	
	
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>

{% if 'canon' in globals()%}
<link rel=canonical href="http://Pluric.com/{{canon}}"/>
{% end %}
<meta charset="utf-8" />
<meta NAME="Description" CONTENT="A federated, distributed, P2P forum .">
<meta name="keywords" content="Pluric, Plurist, ForumLegion, Forum">
<title>
	{% if len(title) > 1 %}
	Pluric :: {{title}}
	{% end %}
	{% if len(title) < 2 %}
	Pluric :: A distributed discussion
	{% end %}
</title>

    <link href="/static/css/splitter.css" rel="stylesheet"/>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="/static/scripts/splitter.js"></script>
	<script src="/static/scripts/default.js"></script>

<script type="text/javascript">
$().ready(function() {

    if ($("#centerandright").length)
    {
    
        // Main vertical splitter, anchored to the browser window
        $("#content").splitter({
            type: "v",
            outline: true,
            minLeft: 100, sizeLeft: 150,
            anchorToWindow: true,
        });
        // Second vertical splitter, nested in the right pane of the main one.
    
        $("#centerandright").splitter({
            type: "v",
            outline: true,
            minLeft: 100, sizeLeft: 150,
        });
    
    
    /* 
    
        $("#centerandright").splitter({
            type: "h",
            outline: true,
            minTop: 100,
            minBottom: 300,
            anchorToWindow: true,
    
        });
    
     */
 
 }


});
</script>


</head>
<body>
<div id="limits">
	<header id="top">
		<a href="/"><img src="/static/images/logo.png" alt="Pluric" /></a>
		<div id="menu">
		    <div id="menu-text">
            {% if not loggedin %}	
                Why not <a rel="nofollow" href="/login">Login</a>, or <a rel="nofollow" href="/register">Register</a>?
            {% end %}

            {% if loggedin %}	
						<div id="toplinks">
            				<a href="/newmessage">Post new Message</a><br>
		                	<a href="/showprivates">Show private messages</a>
						</div>
						<div id="userblock">
					    	<a href="/user/{{pubkey}}" alt="User Page">
						    	<img class="avatar" src="http://RoboHash.org/{{pubkey}}.png?set=any&bgset=any&size=40x40"/>
						    </a><br>
							<a href="/user/{{pubkey}}" alt="User Page">
						    	{{username}}
							</a>
	 						<form class = "logout" action="/logout" method="post">   {{ xsrf_form_html() }} <input type="submit" value="logout" class="textbutton"></form>
						</div>
            {% end %}
            </div> <!-- #menu-text -->
        </div> <!-- #menu -->
	</header>
		<div id="spinner" class="black_overlay">
                <img src="/static/images/spinner.gif">
		</div> <!-- #Spinner -->
		<div id="content">
