<!DOCTYPE html>
	<!-- Hey, Source Reader!
	Welcome to Pluric. I know my coding skills are somewhat sub-par, but if you have any suggestions, I'd love to hear them.
	Email me - colin@pluric.com
	Anyway, Enjoy the site, eh?"
	-->
	
<html lang="en" > 
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	{% if 'canon' in globals()%}
		<link rel=canonical href="http://Pluric.com/{{canon}}"/>
		<meta property="og:url" content="http://Pluric.com/{{canon}}"/>
		<meta property="og:blog" content="article"/>
	{% end %}
	<meta charset="utf-8" />




	{% if len('title') > 1 %}
	<meta NAME="Description" CONTENT="Pluric:: {{title}}">
	{% else %}
	<meta NAME="Description" CONTENT="A federated, distributed, P2P forum .">
	{% end %}


	<meta property="og:site_name" content="Pluric"/>

	<title>
		{% if len(title) > 1 %}
		Pluric :: {{title}}
		{% end %}
		{% if len(title) < 2 %}
		Pluric :: A distributed discussion
		{% end %}
	</title>
	<meta property="og:title" content="{% if len(title) > 1 %}Pluric :: {{title}}{% end %}{% if len(title) < 2 %}Pluric :: A distributed discussion{% end %}"/>

	{% if type == 'topic' %}
		<link rel="alternate" type="application/rss+xml" title="Updates on {{rsshead}}" href="/rss/topic/{{rsshead}}" /> 
	{% end %}
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" media="screen" />
	<link rel="icon" href="/static/images/favicon.png" type="image/png" />
        <script src="/static/scripts/head.min.js"></script>
</head>
<body>
<div id="limits">
	<header id="top">
		<a href="/"><img src="/static/images/logo.png" alt="Pluric" id="toplogo"/></a>
		<meta property="og:image" content="http://Pluric.com/static/images/logo.png"/>
		<div id="menu">
		    <div class="menu-text">
          	{% if user.UserSettings['privkey'] is None %}	
                Why not <a rel="nofollow" href="/login">Login</a>, or <a rel="nofollow" href="/register">Register</a>?
            {% else %}
	                <ul id="menubuttons">
	                    <li><a rel="nofollow" href="/newmessage">Post new message</a></li>
	                    <li><a rel="nofollow" href="/showprivates">Show private messages</a></li>
	                </ul>
							<div id="userblock">
						    	<a href="/user/{{user.UserSettings['pubkey']}}">
							    	<img class="avatar" alt= "Your Avatar" src="/avatar/{{''.join(user.UserSettings['pubkey'].split())}}.png?set=any&amp;bgset=any&amp;size=40x40"/>
							    </a><br>
								<a href="/user/{{user.UserSettings['pubkey']}}">
							    	{{user.UserSettings['username']}}
								</a>
		 						<form class = "logout" action="/logout" method="post">   {% raw xsrf_form_html() %} <input type="submit" value="logout" class="textbutton menu-login"></form>
							</div>
	            {% end %}
            </div> <!-- #menu-text -->
        </div> <!-- #menu -->
	</header>
		<div id="spinner" class="black_overlay">
                <img src="/static/images/spinner.gif" alt="Loading...">
		</div> <!-- #Spinner -->
		<div id="content">
