Top Topics:
<ul>
{% for envelope in envelopes %}
<p> ---
Topics:<br>

	{% set length = len(envelope['envelope']['payload']['topictag']) %}
	{% set count = 1 %} 
	{% for topic in envelope['envelope']['payload']['topictag'] %}
	        {{topic}}
			{% if count != length %}
				,
			{% end %}
			{% set count = count + 1 %}
	{% end %}
</p>
<p>Subject: <a href="/message/{{envelope['envelope']['payload_sha512']/{{envelope['envelope']['local']['short-title']}}">
	{{envelope['envelope']['payload']['subject']}}
	</a>
</p>
<hr>

<hr>


{% end %}
</ul>
