{% if topic is None %}
<div id="single">
	<h2>Post a new message</h2>
	<p></p>
{% end %}

<form enctype="multipart/form-data" action="/uploadnewmessage" method="post">
  {% raw xsrf_form_html() %}
{% if regarding is None %}
Topic: <input type="text" name="topic"><br>
Subject: <input type="text" name="subject"><br>
{% else %}
<input type="hidden" name="regarding" value = "{{regarding}}"><br>
{% end %}


Body: <textarea name="body" rows=8 cols=80></textarea><br><br>
Attach File 1: <input type="file" name="attached_file1"><br>
Attach File 2: <input type="file" name="attached_file2"><br>
Attach File 3: <input type="file" name="attached_file3"><br>
Attach File 4: <input type="file" name="attached_file4"><br>
Attach File 5: <input type="file" name="attached_file5"><br>
<input type="checkbox"  name="include_location" checked>Include Location<br>
<input type="submit" value="Submit Message">
</form>

{% if topic is None %}
</div> <!-- #single -->
{% end %}
