
<div id="single">
	<h2>Post a new message</h2>
	<p></p>

<div id="newmessageform">
<form enctype="multipart/form-data" action="/uploadnewmessage" method="post">
  {% raw xsrf_form_html() %}
{% if topic is None %}
Topic: <input type="text" name="topic"><br>
Subject: <input type="text" name="subject"><br>
{% end %}

{% if regarding is not None %}
<input type="hidden" name="regarding" value = "{{regarding}}"><br>
{% end %}


{% if regarding is None %}
What would you like your message to say?<br> 
{% else %}
What would you like your reply to say?<br>
{% end %}


<textarea name="body" rows=8 cols=80></textarea><br><br>

<div id="js_files_list">
	Attach one or more files:<br>
	 <input id="first_upload_element" type="file" name="attached_file1"><br>
	
</div>

<div id="nonjs_files_list">
	Additional Attached Files:<Br>
	Attach File 2: <input type="file" name="attached_file2"><br>
	Attach File 3: <input type="file" name="attached_file3"><br>
	Attach File 4: <input type="file" name="attached_file4"><br>
	Attach File 5: <input type="file" name="attached_file5"><br>
</div>

<input type="checkbox"  name="include_location" checked>Include Location<br>
<input type="submit" value="Submit Message">
</form>

<script>
    $("#nonjs_files_list").css("display", "none");
	var multi_selector = new MultiSelector( document.getElementById('js_files_list' ), 5 );
	multi_selector.addElement( document.getElementById( 'first_upload_element' ) );
	
</script>
</div> <!-- #Newmessageform -->
</div> <!-- #single -->
