<form enctype="multipart/form-data" action="/uploadprivatemessage" method="post">
  {{ xsrf_form_html() }}
To: <input type="text" name="to" {% if urlto is not None %} value="{{urlto}}" {% end %}><br>
Subject: <input type="text" name="subject"><br>
Body: <textarea name="body" rows=8 cols=80></textarea><br><br>
Regarding: <input type="text"  name="regarding" checked><br>
<input type="checkbox"  name="include_location" checked>Include Location<br>
<input type="submit" value="Submit Message">
</form>

