<script src="/static/scripts/jquery.mailcheck.min.js"></script>
<script src="/static/scripts/zxcvbn.js"></script>

<script>
head.ready(function() {
	head.js("");

	$('#email').blur(function() {
	    $(this).mailcheck({
	      suggested: function(element, suggestion) {
	        $('#EmailStatus').html('<p><i>&nbsp;&nbsp;&nbsp; Did you mean '+suggestion.address+'@'+'<strong>'+suggestion.domain+'</strong>?</i></p>').show();

	        $('#EmailStatus').click(function(event) {
	        	$('#email').val(suggestion.full);
	        	$('#EmailStatus').hide();
	        });
	      

	      },
	      empty: function(element) {
	        $('#EmailStatus').html('').hide();
	      }
	    });
	});


	$('#pass').keyup(function() {
		result = zxcvbn( this.value );
		pass1 = this.value
		PassDescriptions = ['Not Very Strong', 'Average', 'Good', 'Very Good', 'Great'];
		$('#PasswordStatus').html("<p><i>&nbsp;&nbsp;&nbsp;Password Strength: " + PassDescriptions[result.score]) + "</i></p>";
	});
	$('#pass2').keyup(function() {
		if (this.value != pass1 )
		{
			$('#PasswordStatus').html("<p><i>&nbsp;&nbsp;&nbsp;Passwords do not match</i></p>");
		}
		else
		{
			$('#PasswordStatus').html("<p><i>&nbsp;&nbsp;&nbsp;Passwords match</i></p>");
		}
	});





});


</script>



<div class="single">
<h1>Register for an account</h1>
<p></p>

<form action="/register" method="post">
  {% raw xsrf_form_html() %}
<p> Username (For Login): <input type="text" name="username"></p>
<p>Note- Username is just for Logging in to {{server.ServerSettings['hostname']}}, and has to be unique.<br>
Once you are registered, you can change the name that shows up in posts to whatever you want.
<br>
</p>
<p>Email (Entirely Optional): <input id="email" type="text" name="email">
<br>
<div id="EmailStatus"></div>
</p><p>
Password: <input id='pass' type="password" name="pass">
</p><p>
Verify Password: <input id='pass2' type="password" name="pass2">
<input type="submit" value="Create Login">
<div id="PasswordStatus"></div>
</p>
</form>

</div> <!-- .single -->
