{% import pymongo %}
{% from collections import OrderedDict %}
{% import datetime %}

{% set envelope = server.mongos['default']['envelopes'].find_one({'envelope.payload_sha512' : messageid },as_class=OrderedDict) %}

{% if envelope is None %}
	{% set envelope = server.error_envelope("I'm sorry, but your message can't be loaded.").dict %}
{% end %}

{% if orient == "left" %}
<ul class='response' id="{{envelope['envelope']['payload_sha512']}}">
	<li>
		<article>
	{% else %}
		<article>
		<div class="padder">
			<div class="topic_{{orient}}">
			<h3>{{envelope['envelope']['payload']['subject']}}</h3>
			<p class="meta">Received <abbr title="{{datetime.datetime.fromtimestamp(int(envelope['envelope']['local']['time_added'])).strftime("%A, %d. %B %Y %I:%M%p")}}"><time datetime="{{datetime.datetime.fromtimestamp(int(envelope['envelope']['local']['time_added'])).isoformat()}}">{{server.FancyDateTimeDelta(datetime.datetime.fromtimestamp(int(envelope['envelope']['local']['time_added']))).format() }}.</time></abbr></p>
			</div><!-- .topic_title -->		
	{% end %}		


			<div class="thread_common">
			<div class="thread_{{orient}}">
				    <a class="details" orient={{orient}} user="{{envelope['envelope']['payload_sha512']}}"  href="/user/{{''.join(envelope['envelope']['payload']['author']['pubkey'].split())}}" rel="author">
				    	<img id="avatar_{{envelope['envelope']['payload_sha512']}}" class="avatar" width="40px" height="40px" alt="User Avatar for post" src="/avatar/{{''.join(envelope['envelope']['payload']['author']['pubkey'].split())}}.png?set=any&amp;bgset=any&amp;size=40x40" />
				    </a>

				    <a class="details" user="{{envelope['envelope']['payload_sha512']}}"  href="/user/{{''.join(envelope['envelope']['payload']['author']['pubkey'].split())}}" rel="author">
				    	{{envelope['envelope']['payload']['author']['friendlyname']}}</b>@{{envelope['envelope']['local']['author_pubkey_sha1']}}
				    	{% set note = user.getNote(envelope['envelope']['payload']['author']['pubkey']) %}
				    	{% if note is not None %}
				    		<div class="note"><i>{{note}}</i></div>
				    	{% end %}
				    </a>
					<div class="UserDetails UserDetails_{{orient}}" id="details_{{envelope['envelope']['payload_sha512']}}">
					{% set trust = user.gatherTrust(askingabout=envelope['envelope']['payload']['author']['pubkey']) %}

						You <abbr title='{{trust}}'>{{user.translateTrustToWords(trust)}}</abbr> this user.<br>
							{% if trust < 100 %}
							<form action="/usertrust" method="post">
								{% raw xsrf_form_html() %}
								<input type="hidden" name="trust" value="100">
								<input type="hidden" name="topic" value="{{envelope['envelope']['payload']['topic']}}">
								<input type="hidden" name="trusted_pubkey" value="{{envelope['envelope']['payload']['author']['pubkey']}}">
								<input class="textbutton" type="submit" value="Allow this user to mark SPAM">
							</form>
							<br>
							{% end %}
							{% if trust > -100 and trust < 250 %}
							<form action="/usertrust" method="post">
								{% raw xsrf_form_html() %}
								<input type="hidden" name="trust" value="-100">
								<input type="hidden" name="topic" value="{{envelope['envelope']['payload']['topic']}}">
								<input type="hidden" name="trusted_pubkey" value="{{envelope['envelope']['payload']['author']['pubkey']}}">
								<input class="textbutton" type="submit" value="Disallow this user to mark SPAM">
							</form>
							{% end %}
							<br>
							<form action="/usernote" method="post" class="usernote">
								 {% raw xsrf_form_html() %}
								<input type="hidden" name="pubkey" value="{{envelope['envelope']['payload']['author']['pubkey']}}">
								<input class="usernote" type="text" value="" name="note" {% if note is None %} placeholder="Add a note about this user" {% else %} placeholder="{{note}}" {% end %} >
							</form>
							<br>
							<a href="/user/{{''.join(envelope['envelope']['payload']['author']['pubkey'].split())}}">Full Details</a>
					</div>	

					{% if orient == 'left' %}
					<p class="meta">Received <abbr title="{{datetime.datetime.fromtimestamp(int(envelope['envelope']['local']['time_added'])).strftime("%A, %d. %B %Y %I:%M%p")}}"><time datetime="{{datetime.datetime.fromtimestamp(int(envelope['envelope']['local']['time_added'])).isoformat()}}">{{server.FancyDateTimeDelta(datetime.datetime.fromtimestamp(int(envelope['envelope']['local']['time_added']))).format() }}.</time></abbr></p>
					{% end %}
			</div><!-- .thread_{{orient}} -->	
			</div><!-- .thread_common -->


			
			<div class="clear"></div>
		
			<div class="thread_body">
	            {% raw envelope['envelope']['local']['formattedbody'] %}
			</div><!-- .thread_start -->
			{% if 'attachmentlist' in envelope['envelope']['local'] %}
				<div class="attachments">

				    {% for attachment in envelope['envelope']['local']['attachmentlist'] %}
							{% if 'displayable' in attachment %}
	                            {% if attachment['displayable'] is not False %}
									<a href="{{server.ServerSettings['downloadserver']}}/binaries/{{attachment['sha_512']}}/{{attachment['filename']}}" download="{{attachment['filename']}}">
									<img src="/binaries/{{attachment['displayable']}}" alt="Thumbnail of enclosed image"></a><br>
							    {% end %} 
							{% end %} 
				            <a href="{{server.ServerSettings['downloadserver']}}/binaries/{{attachment['sha_512']}}/{{attachment['filename']}}" download="{{attachment['filename']}}"><bdi>{{attachment['filename']}}</bdi></a> ({{round(float(attachment['filesize'] / 1024.0 /1024.0 ),3) }} MB)<br>
				            <div class="attachmentinfo"><a href="/attachment/{{attachment['sha_512']}}">Details about {{attachment['sha_512']}}/{{attachment['filename']}}</a></div>
	                        <br>
				    {% end %}
	    		</div>
			{% end %}

			{% if len (envelope['envelope']['local']['embed']) > 0 %}
				{% if user.UserSettings['allowembed'] == 1 %}
					<div class='embedded'>
					Linked Content:<Br>
						{% for embed in envelope['envelope']['local']['embed'] %}
							{%raw embed %}
						{% end %}
					</div>
				{% elif user.UserSettings['allowembed'] == 0  %}
					<i class="icon-picture embeddedcontentnote"></i>
					<div class="embededwarning">
						This message contains a link to external content, such as a movie or picture.<Br>
						Tavern can automatically display these things, but if you do so, the site they come from will know you loaded it.<br>
						You can always change this setting in <a href="/user/{{''.join(user.UserSettings['pubkey'].split())}}">your user preferences</a><br><br>

						<form action="/changesetting/showembeds" method="post"> {% raw xsrf_form_html() %} <input type="submit" value='Always load external content' class="textbutton "></form> | 
						<form action="/changesetting/dontshowembeds" method="post"> {% raw xsrf_form_html() %} <input type="submit" value='Only display links to external content' class="textbutton "></form>.
					</div>
				{% elif user.UserSettings['allowembed'] == -1 %}
				{% end %}
			{% end %}

			<div class="comment_bottom">
			&nbsp; <a rel="bookmark" class='internal' href="/message/{{envelope['envelope']['local']['short_subject']}}/{{envelope['envelope']['payload_sha512']}}">Permalink</a>
			{% if 'regarding' in envelope['envelope']['payload'] %}
				&nbsp; <a class='internal' href="/message/{{envelope['envelope']['payload']['regarding']}}">Parent</a>
			{% end %}
			&nbsp; <a class="reply" message="{{envelope['envelope']['payload_sha512']}}" href="/reply/{{envelope['envelope']['payload']['topic']}}/{{envelope['envelope']['payload_sha512']}}">Reply</a>
				<div class="votes">
					<form action="/vote" method="post" class="vote">
					  {% raw xsrf_form_html() %}
					<input type="hidden" name="rating" value="1">
					<input type="hidden" name="hash" value="{{envelope['envelope']['payload_sha512']}}">
					<abbr title= "This post was helpful."><input type="image" src="/static/images/t_up.png" alt="Thumbs Up on this post"></abbr>
					</form>

					<form action="/vote" method="post" class="vote">
					  {% raw xsrf_form_html() %}
					<input type="hidden" name="rating" value="-1" >
					<input type="hidden" name="hash" value="{{envelope['envelope']['payload_sha512']}}">
					<abbr title="This post was inappropriate."><input type="image" src="/static/images/t_down.png" alt="Thumbs Down on this post"></abbr>
					</form>
				</div>  <!-- votes -->
				{% if orient == "right" %}
				<div class="externalsharing">
				<a href="http://www.facebook.com/sharer.php?u=http://ForumLegion.ch/message/{{envelope['envelope']['local']['short_subject']}}/{{envelope['envelope']['payload_sha512']}}&t={{envelope['envelope']['local']['short_subject']}}"><i class="icon-facebook-sign"></i></a> <a href="http://twitter.com/home?status=Check out this post, via @ForumLegion - {{envelope['envelope']['local']['short_subject']}}%0A%0A%0Ahttp://ForumLegion.ch/message/{{envelope['envelope']['local']['short_subject']}}/{{envelope['envelope']['payload_sha512']}}" ><i class="icon-twitter-sign"></i></a> <a href="https://plusone.google.com/_/+1/confirm?hl=en&url=http://ForumLegion.ch/message/{{envelope['envelope']['local']['short_subject']}}/{{envelope['envelope']['payload_sha512']}}"><i class="icon-google-plus-sign"></i></a>
				</div>
				{% end %}
				<div id="reply_{{envelope['envelope']['payload_sha512']}}"></div>
			</div> <!-- comment_bottom -->
			{% if orient is not "left" %}
				</div> <!-- .padder -->
			{% end %}
			</article>

			{% if 'citedby' in envelope['envelope']['local'] %}
				{% for cite in envelope['envelope']['local']['citedby'] %}
					{% raw handler.render_string('reply.html',messageid=cite,orient="left",user=user) %}
				{% end %}
			{% end %}	
			
	{% if orient == "left" %}		
	</li>
</ul>			
{% end %}
