<div id="single">
<h1> List of Posts for : <b>{{envelopes[0]['envelope']['payload']['author']['friendlyname']}}</b>@{{envelopes[0]['envelope']['local']['author_pubkey_sha1']}} <br />
</h1>
<p></p>
<ul>

{% for envelope in envelopes %}
    {% if envelope['envelope']['payload']['class'] == 'message' %}
        <li><a href="/message/{{envelope['envelope']['local']['short_subject']}}/{{envelope['envelope']['payload_sha512']}}">{{envelope['envelope']['payload']['subject']}}</a></li>
    {% end %}
{% end %}


</ul>
</div> <!-- #single -->
