
Message posted by: <acronym title="{{envelope['envelope']['payload']['author']['friendlyname']}}@{{envelope['envelope']['payload']['author']['pubkey']}}">{{envelope['envelope']['payload']['author']['friendlyname']}}@{{envelope['envelope']['payload']['author']['pubkey'][28:44]}}</acronym>... [ Trusted at level: {{usertrust}} ]<br>
<br>
Message Rating of: {{messagerating}}<br><br>

Topics:<br>

	{% set length = len(envelope['envelope']['payload']['topictag']) %}
	{% set count = 1 %} 
	{% for topic in envelope['envelope']['payload']['topictag'] %}
	        {{topic}}
			{% if count != length %}
				,
			{% end %}
			{% set count = count + 1 %}
	{% end %}
</p>

<form action="/usertrust" method="post">
  {{ xsrf_form_html() }}
<input type="hidden" name="trust" value="100">
<input type="hidden" name="pubkey" value="{{envelope['envelope']['payload']['author']['pubkey']}}">
<input type="submit" value="Trust This User">
</form>

<form action="/usertrust" method="post">
  {{ xsrf_form_html() }}
<input type="hidden" name="trust" value="-100">
<input type="hidden" name="pubkey" value="{{envelope['envelope']['payload']['author']['pubkey']}}">
<input type="submit" value="Distrust This User">
</form>

<br>
<a href="/showuserposts/{{envelope['envelope']['payload']['author']['pubkey']}}">Show all posts by this user.</a>
<br>
<br>
<a href="/uploadprivatemessage/{{envelope['envelope']['payload']['author']['pubkey']}}">Send This user a Private Message.</a>
<br>

<p>Subject: {{envelope['envelope']['payload']['subject']}}</p>
<p>Body: {{formattedbody}}</p>


{% if envelope['envelope']['payload'].has_key('coords')  %}
	<p>Coords: {{envelope['envelope']['payload']['coords']}}</p>
{% end %}

{% if len(displayableAttachmentList) > 0 %}
    {% for attachment in displayableAttachmentList %}
	    <a href="/binaries/{{attachment}}"><img src="/binaries/{{attachment}}-thumb"></a> <br>
    {% end %}
{% end %}

{% if envelope['envelope']['local'].has_key('attachmentlist') %}
    {% for attachment in envelope['envelope']['local']['attachmentlist'] %}
            <a href="/binaries/{{attachment['sha_512']}}">{{attachment['filename']}}</a>
            ({{round(float(attachment['filesize'] / 1024.0 /1024.0 ),3) }} MB)<br>
    {% end %}
{% end %}

{% if envelope['envelope']['local'].has_key('citedby') %}
	{% if len(envelope['envelope']['local']['citedby']) > 0 %}
		{% for cited in envelope['envelope']['local']['citedby'] %}
			<a href="/message/{{cited}}">Reply: {{cited}}</a><br>
		{% end %}
	{% end %}
{% end %}

<form action="/vote" method="post">
  {{ xsrf_form_html() }}
<input type="hidden" name="rating" value="-1">
<input type="hidden" name="hash" value="{{envelope['envelope']['payload_sha512']}}">
<input type="submit" value="Thumbs Down on this post">
</form>

<form action="/vote" method="post">
  {{ xsrf_form_html() }}
<input type="hidden" name="rating" value="1">
<input type="hidden" name="hash" value="{{envelope['envelope']['payload_sha512']}}">
<input type="submit" value="Thumbs Up on this post">
</form>

