{% import urllib,re %}
			<div id="left">
				<h2>Your Topics</h2>
					<ul>
					{% for quicktopic in user.UserSettings['followedTopics'] %}
      					<li {%if quicktopic == topic %} class="active"{% end %} >
	                    	<a class="internal" href="/topic/{{urllib.parse.quote(quicktopic)}}/"><bdi>{{quicktopic}}</bdi></a>
	                    </li>
                    {% end %}

					</ul>

				
				<h2>Top Topics</h2>
					<ul>
					{% for quicktopic in toptopics %}
                    <li {%if quicktopic['_id']['tag'] == topic %} class="active"{% end %} >
                    	<a class="internal" href="/topic/{{urllib.parse.quote(quicktopic['_id']['tag'])}}"><bdi>{{quicktopic['_id']['tag']}}</bdi></a>
                    </li>
                    {% end %}
					</ul>
			</div><!-- #left -->
			<div id="centerandright">
			<div id="center">
				<h2>
					{% if topic == 'sitecontent' %}
					Messages from Pluric.com
					{% else %}
					Messages in {{topic}}
					{% end %}
				</h2>
					<ul>
					{% for subject in subjects %}
					<li><a class='internal' href="/message/{{subject['envelope']['local']['short_subject']}}/{{subject['envelope']['payload_sha512']}}">{{subject['envelope']['payload']['subject']}}</a></li>
                    {% end %}
                    
					</ul>				
			
			</div><!-- #center -->
			
			<div id="right">
				<div class="thread">
					<h1>{{topic}} Preferences</h1>
						<br>

						Showing Preferences for {{topic}}.  <a href="/rss/topic/{{topic}}"><img src="/static/images/feed-icon-14x14.png"></a><br>
						<p>
						{% if topic in mytopics %}
							You are currently Following {{topic}}.  &nbsp; &nbsp; &nbsp; <form class = "subscription" action="/nofollowtopic/{{topic}}" method="post">   {% raw xsrf_form_html() %} <input type="submit" value="Stop Following {{topic}}" class="textbutton topicpref"></form>
							{% else %}
							You are not currently Following {{topic}}.  &nbsp; &nbsp; &nbsp; <form class = "subscription" action="/followtopic/{{topic}}" method="post">   {% raw xsrf_form_html() %} <input type="submit" value="Follow {{topic}}" class="textbutton topicpref"></form>
						{% end %}
						<p>
						The following users are popular moderators, you might want to consider adding them:<br>
						<ul>
						{% for mod in mods %}
							<li>
							<abbr title="Moderator@{{mod['_id']['moderator_pubkey_sha512']}}">
								<a href="/user/{{''.join(mod['_id']['moderator'].split())}}">
				    				<img class="avatar" alt="User Avatar for post" src="https://static1.RoboHash.org/{{''.join(mod['_id']['moderator'].split())}}.png?set=any&amp;bgset=any&amp;size=40x40"/>
				    			</a>
				    			<a href="/user/{{''.join(mod['_id']['moderator'].split())}}">
				    				<b>Moderator</b>@{{mod['_id']['moderator_pubkey_sha512'][0:6]}}..<br />
								</a>
							</abbr>
							</li>
							<br><Br>
						{% end %}
						</ul>
					</div>
				
			</div><!-- #right -->
		    </div><!-- #centerandright -->
