{% from server import server %}
			<div id="left">
				<h2>Your Topics</h2>
					<ul>
                                        {% for quicktopic in user.UserSettings['followedTopics'] %}
      					<li {%if quicktopic == topic %} class="active"{% end %} >
	                    	<a class="internal" href="/topic/{{server.sorttopic(quicktopic)}}"><bdi>{{quicktopic}}</bdi></a>
	                    </li>
                    {% end %}

					</ul>

				
				<h2>Top Topics</h2>
					<ul>
					{% for quicktopic in toptopics %}
                    <li {%if quicktopic['_id']['tag'] == topic %} class="active"{% end %} >
                    	<a class="internal" href="/topic/{{server.sorttopic(quicktopic['_id']['tag'])}}"><bdi>{{quicktopic['_id']['tag']}}</bdi></a>
                    </li>
                    {% end %}
					</ul>
				 <h2>Special</h2>
					<ul>
						<li><a href="/topic/all">All Messages</a></li>
					</ul>
			</div><!-- #left -->

			<div id="centerandright">
			<div id="center">
				<h2>
					{% if topic == 'sitecontent' %}
					Messages from {{server.ServerSettings['hostname']}}
					{% elif topic == 'all' %} 
                                        All Messages
                                        {% else %}    
					Messages in <bdi>{{topic}}</bdi> <a class="internal configbutton" href="/topicinfo/{{server.sorttopic(topic)}}"><i class="icon-info-sign"><div class='textmodeinfo'>Change Topic settings</div></i></a>
					{% end %}
				</h2>
				{% if topic != 'sitecontent' and topic != 'all' %}	
					<a href="/reply/{{server.sorttopic(topic)}}" class="internal">
						<div class = "newpost">
							<span class="newpost-text"><i class="icon-edit"></i> <a href="/reply/{{server.sorttopic(topic)}}" class="internal">New Message in {{topic}}</a></span>
						</div>
					</a>
				{% end %}

				<ul>
					{% for subject in subjects %}
					<li  {% if subject['envelope']['payload_sha512'] == envelope['envelope']['payload_sha512'] %} class="active"{% end %} >
						<a class='internal' href="/message/{{server.sorttopic(topic)}}/{{subject['envelope']['local']['short_subject']}}/{{subject['envelope']['payload_sha512']}}"><bdi>{{subject['envelope']['payload']['subject']}}</bdi></a>
					</li>
                    {% end %}
                    
				</ul>	
	
			</div><!-- #center -->
			
			<div id="right">
				<div class="thread">
					<h1><bdi>{{envelope['envelope']['payload']['subject']}}</bdi></h1>
						{% if 'payload_sha512' in envelope['envelope'] %}
								{% raw handler.render_string('reply.html',messageid=envelope['envelope']['payload_sha512'],user=user,orient="right") %}
						{% end %}
					</div>
				
			</div><!-- #right -->
		    </div><!-- #centerandright -->
