{% import urllib,re %}
			<div id="left">
				<h2>Categories</h2>
				

					<ul>
					{% for topic in toptopics %}
                    <li><a class='internal' href="/topic/{{urllib.quote(escape(topic['_id']['tag']))}}">{{escape(topic['_id']['tag'])}}</a></li>
                    {% end %}
					</ul>
				
				<h2>Interesting People</h2>
					<ul>
						<li><a href="#">#Egypt</a></li>
						<li><a href="#">#Python</a></li>
						<li class="active"><a href="#">#StarTrek</a></li>
						<li><a href="#">#Apple</a></li>
						<li><a href="#">#Linux</a></li>
					</ul>				
				
			</div><!-- #left -->
			<div id="centerandright">
			<div id="center">
				<h2>Topics by @user</h2>
					<ul>
					{% for subject in subjects %}
					<li><a class='internal' href="/message/{{subject['envelope']['payload_sha512']}}">{{subject['envelope']['payload']['subject']}}</a></li>
                    {% end %}
                    
					</ul>				
			
			</div><!-- #center -->
			
			<div id="right">
				<div class="thread">
					<h2>Thread Discussion</h2>
					<div class="padder">
					
						<div class="topic_title">
							<h3>{{envelope['envelope']['payload']['subject']}}</h3>
							<p class="meta">{{envelope['envelope']['local']['relativedate']}}</p>
						</div><!-- .topic_title -->



						<div class="thread_right">
							<acronym title="{{envelope['envelope']['payload']['author']['pubkey']}}">
							    <a href="/user/{{''.join(envelope['envelope']['payload']['author']['pubkey'].split())}}" alt="User Page">
							    <img class="avatar" src="http://RoboHash.org/{{''.join(envelope['envelope']['payload']['author']['pubkey'].split())}}.png?set=any&bgset=any&size=40x40"/>
							    </a>
							</acronym>
							<a href="/user/{{''.join(envelope['envelope']['payload']['author']['pubkey'].split())}}" alt="User Page">
							    <a class="username" href="#">{{envelope['envelope']['payload']['author']['friendlyname']}}</a><br />
							</a>
							<a href="/followuser/{{''.join(envelope['envelope']['payload']['author']['pubkey'].split())}}">follow</a>
						</div><!-- .thread_right -->
						
						<div class="clear"></div>
						
						<div class="thread_start">
				            {{envelope['envelope']['local']['formattedbody']}}
						</div><!-- .thread_start -->
						<div class="images">			
							{% if envelope['envelope']['local'].has_key('displayableattachmentlist') %}
							    {% for attachment in envelope['envelope']['local']['displayableattachmentlist'] %}
								    <a href="/binaries/{{attachment}}"><img src="/binaries/{{attachment}}-thumb"></a> <br>
							    {% end %}
							{% end %}
						</div>
						<div class="attachments">
							{% if envelope['envelope']['local'].has_key('attachmentlist') %}
							    {% for attachment in envelope['envelope']['local']['attachmentlist'] %}
							            <a href="/binaries/{{attachment['sha_512']}}">{{attachment['filename']}}</a>
							            ({{round(float(attachment['filesize'] / 1024.0 /1024.0 ),3) }} MB)<br>
							    {% end %}
							{% end %}
						</div>
					
					</div><!-- .padder -->
					
						<ul class="response">
								<li>
									<div class="comment_avatar">
										<img class="avatar" src="/static/images/avatar.jpg" />
									</div><!-- .comment_avatar -->
									
									<div class="comment_body">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
										<p class="response_meta">5:01pm Today by @johnJones <a href="#"><img class="imginline" src="/static/images/t_up.png" alt="good comment" /></a> <a href="#"><img class="imginline" src="/static/images/t_down.png" alt="bad comment" /></a> </p>
									</div>
								</li>
									<ul>
										<li>
											<div class="comment_avatar">
												<img class="avatar" src="/static/images/avatar.jpg" />
											</div><!-- .comment_avatar -->
											
											<div class="comment_body">
												<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
												<p class="response_meta">5:01pm Today by @johnJones <a href="#"><img class="imginline" src="/static/images/t_up.png" alt="good comment" /></a> <a href="#"><img class="imginline" src="/static/images/t_down.png" alt="bad comment" /></a> </p>
											</div>
											
												<ul>
													<li>
														<div class="comment_avatar">
															<img class="avatar" src="/static/images/avatar.jpg" />
														</div><!-- .comment_avatar -->
														
														<div class="comment_body">
															<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
															<p class="response_meta">5:01pm Today by @johnJones <a href="#"><img class="imginline" src="/static/images/t_up.png" alt="good comment" /></a> <a href="#"><img class="imginline" src="/static/images/t_down.png" alt="bad comment" /></a> </p>
														</div>
													</li>
												</ul>
											
										</li>
									</ul>
									
								<li>
									<div class="comment_avatar">
										<img class="avatar" src="/static/images/avatar.jpg" />
									</div><!-- .comment_avatar -->
									
									<div class="comment_body">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
										<p class="response_meta">5:01pm Today by @johnJones <a href="#"><img class="imginline" src="/static/images/t_up.png" alt="good comment" /></a> <a href="#"><img class="imginline" src="/static/images/t_down.png" alt="bad comment" /></a> </p>
									</div>
								</li>
								
								<li>
									<div class="comment_avatar">
										<img class="avatar" src="/static/images/avatar.jpg" />
									</div><!-- .comment_avatar -->
									
									<div class="comment_body">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
										<p class="response_meta">5:01pm Today by @johnJones <a href="#"><img class="imginline" src="/static/images/t_up.png" alt="good comment" /></a> <a href="#"><img class="imginline" src="/static/images/t_down.png" alt="bad comment" /></a> </p>
									</div>
								</li>

						</ul><!-- .response -->
						
				</div><!-- .thread -->
				
			</div><!-- #right -->
		    </div><!-- #centerandright -->