{% import urllib,re %}
			<div id="left">
				<h2>Categories</h2>
				

					<ul>
					{% for topic in toptopics %}
                    <li><a class='internal' href="/topic/{{urllib.quote(escape(topic['_id']['tag']))}}">{{escape(topic['_id']['tag'])}}</a></li>
                    {% end %}
					</ul>
				
				<h2>Interesting People</h2>
					<ul>
						<li><a href="#">#Egypt</a></li>
						<li><a href="#">#Python</a></li>
						<li class="active"><a href="#">#StarTrek</a></li>
						<li><a href="#">#Apple</a></li>
						<li><a href="#">#Linux</a></li>
					</ul>				
				
			</div><!-- #left -->
			<div id="centerandright">
			<div id="center">
				<h2>Topics by @user</h2>
					<ul>
					{% for subject in subjects %}
					<li><a class='internal' href="/message/{{subject['envelope']['payload_sha512']}}">{{subject['envelope']['payload']['subject']}}</a></li>
                    {% end %}
                    
					</ul>				
			
			</div><!-- #center -->
			
			<div id="right">
				<div class="thread">
					<h2>Thread Discussion</h2>
					<div class="padder">
					
						{% if envelope['envelope'].has_key('payload_sha512') %}
								{{ handler.render_string('reply.html',messageid=envelope['envelope']['payload_sha512'])}}
						{% end %}
					</div> <!-- .padder -->				
				</div><!-- .thread -->
				
			</div><!-- #right -->
		    </div><!-- #centerandright -->