


<div class="single userportrait">
<h1> Details about {{envelopes[0]['envelope']['payload']['author']['friendlyname']}}</b>@{{envelopes[0]['envelope']['local']['author_pubkey_sha1']}} <br />
</h1>
<p></p>
<ul>

<img id="avatar_{{thatguy}}" class="portrait" width="400px" height="400px" alt="User Portrait " src="{{'/avatar/' + ''.join(thatguy.split()) + '.png?set=any&amp;bgset=any&amp;size=400x400'}}" /><br>




{% set trust = me.gatherTrust(askingabout=thatguy) %}
    You <abbr title='{{trust}}'>{{me.translateTrustToWords(trust)}}</abbr> this user.<br>
    {% set note = me.getNote(thatguy) %}
    {% if note is not None %}
        You set the following note about this user:<Br>
        <div class="note"><i>{{note}}</i></div>
    {% end %}
        <br><br>

        Set a note about this user:<Br>
        <form action="/usernote" method="post" class="usernote">
             {% raw xsrf_form_html() %}
            <input type="hidden" name="pubkey" value="{{thatguy}}">
            <input class="usernote" type="text" value="" name="note" {% if note is None %} placeholder="Add a note about this user" {% else %} placeholder="{{note}}" {% end %} >
        </form>


</ul>
</div> <!-- .single -->
