{% if 'attachmentlist' in envelope['envelope']['local'] %}
    <div class="attachments">
        {% if len(envelope['envelope']['local']['attachmentlist']) > 1 %}
            Attached Files:<br>
        {% elif  len(envelope['envelope']['local']['attachmentlist']) > 0  %}
            Attached File: <br>
        {% end %}
        {% for attachment in envelope['envelope']['local']['attachmentlist'] %}

                {% if 'detected_mime' in attachment %}
                    {% if attachment['detected_mime'] in ['video/mp4','video/webm'] %}
                        <video id="my_video_1" class="video-js vjs-default-skin" controls
                        preload="metadata" width="640" height="264"
                        data-setup="{}">
                            <source src="{{serversettings.ServerSettings['downloadsurl']}}{{attachment['sha_512']}}/{{attachment['filename']}}" type='{{attachment['detected_mime']}}'>
                        </video>
                    {% end %}
                    {% if attachment['detected_mime'] in ['audio/mpeg'] %}
                    <audio preload="metadata">
                      <source src="{{serversettings.ServerSettings['downloadsurl']}}{{attachment['sha_512']}}/{{attachment['filename']}}">
                    </audio>

                    {% end %}

                {% end %}   

                <a href="{{serversettings.ServerSettings['downloadsurl']}}{{attachment['sha_512']}}/{{attachment['filename']}}" download="{{attachment['filename']}}"><bdi>{{attachment['filename']}}</bdi></a> ({{round(float(attachment['filesize'] / 1024.0 /1024.0 ),3) }} MB)
                <a href="/attachment/{{attachment['sha_512']}}"> <i class='icon-info-circle'></i></a>
                <br>
        {% end %}
    </div>
{% end %}

{% if len (envelope['envelope']['local']['embed']) > 0 %}
    {% if user.UserSettings['allowembed'] == 1 %}
        <div class='embedded'>
        Linked Content:<Br>
            {% for embed in envelope['envelope']['local']['embed'] %}
                {%raw embed %}
            {% end %}
        </div>
    {% elif user.UserSettings['allowembed'] == 0  %}
        <i class="icon-picture embeddedcontentnote"></i>
        <div id="embededcontent_{{envelope['envelope']['payload_sha512']}}" class="embededwarning" stufftoshow="Linked Content:<br>
            {% for embed in envelope['envelope']['local']['embed'] %}
                {%raw embed %}
            {% end %}">
            <br>
            This message contains a link to a picture or movie hosted by some other service.<Br>
            Tavern can automatically display a lot of linked content, but (like any webpage) the site it's loaded from will know you viewed it.<br>
            <br>
            <form action="/changesetting/showembeds" method="post" class='alwaysdisplay'> 
                {% raw xsrf_form_html() %} 
                <input type="submit" value='Always display external content' class="textbutton"> <br>
            </form>
            <br>
            <p>You can always change this setting in <a href="/user/{{''.join(user.UserSettings['pubkey'].split())}}">your user preferences</a></p>


        </div>
    {% elif user.UserSettings['allowembed'] == -1 %}
    {% end %}
{% end %}