{% include 'header.html' %}

<table id="wrappertable" class='wrappertable' cellpadding="0" cellspacing="0" valign="top" role="presentation">
    <tr>
    	<td id="column1" valign="top" BACKGROUND="/static/images/texture.png" width="180px">
            <div id="scrollablediv1" class="fullscroller">
                {% block column1 %}
                    {% include 'partial-globalmenu.html' %}
                {% endblock column1 %}
            </div>
        </td>
        <td id="column2in3col" valign="top" >
            <div id="scrollablediv2" class="fullscroller">
                {% block column2 %}
                    {% include 'partial-messagelist.html' %}
                {% endblock column2 %}
            </div>
        </td>
        <td id="column3" valign="top">
            <div id="scrollablediv3" class="fullscroller">
                <hr id="TopHR">
                {% block column3 %}
                    {% include 'partial-showmessage.html' %}
                {% endblock column3 %}
            </div>
        </td>
    </tr>
</table>

{% include 'footer.html' %}

