{# Do the Standard Python Imports #}
{% from TopicTool import topictool %}
{% import TavernUtils %}

{# Make sure defaults are set #}
{% if not 'before' in locals() %}
    {% set before = None %}
{% end %}

<table id="wrappertable" class='wrappertable' cellpadding="0" cellspacing="0" valign="top" role="presentation">
    <tr>
        <td id="column1" valign="top" BACKGROUND="/static/images/texture.png" width="180px">
            <div id="scrollablediv1" class="fullscroller">
                {% block column1 %}
                    {% include 'column1.html' %}
                {% end %}
            </div>
        </td>
        <td id="column2solo" valign="top" colspan="2">
            <div id="scrollablediv2" class="fullscroller">
                {% block column2 %}
                    {% include 'column2-MessageList.html' %}
                {% end %}
            </div>
        </td>
    </tr>
</table>
