<!DOCTYPE html>
	<!-- Hey, Source Reader!
	Welcome to Tavern. I know my coding skills are somewhat sub-par, but if you have any suggestions, I'd love to hear them.
	Email me - colin@Tavern.net
	Also, if you're going to send me a note about tables.. I know you probably don't approve, But it's intentional, at least for now..
	Check out http://bit.ly/ZfRLxt

	Anyway, Enjoy the site, and I'd love any thoughts.
	-->
	
<html lang="en" style="height: 100%;"> 
<head>
	<meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	{% if 'canon' in globals() %}
		<link rel=canonical href="http://{{serversettings.settings['hostname']}}/{{canon}}"/>
		<meta property="og:url" content="http://{{serversettings.settings['hostname']}}/{{canon}}"/>
		<meta property="og:blog" content="article"/>
	{% end %}
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">



	{% if len('title') > 1 %}
	<meta NAME="Description" CONTENT="Tavern ;) - {{title}}">
	{% else %}
	<meta NAME="Description" CONTENT="A shared discussion about the topics that matter.">
	{% end %}

	<meta http-equiv="X-Frame-Options" content="deny">

	<meta property="og:site_name" content="Tavern"/>

	<title>
		{% if len(title) > 1 %}
		Tavern ;) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{title}}
		{% end %}
		{% if len(title) < 2 %}
		Tavern ;) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Discuss what matters.
		{% end %}
	</title>
	<meta property="og:title" content="{% if len(title) > 1 %}Tavern :: {{title}}{% end %}{% if len(title) < 2 %}Tavern :: Discuss what matters {% end %}"/>

	{% if type == 'topic' %}
		<link rel="alternate" type="application/rss+xml" title="Updates on {{rsshead}}" href="/rss/topic/{{rsshead}}" /> 
	{% end %}

	{% if browser['ua_family'] != 'Netscape Navigator' and browser['ua_versions'][0] > 4 %}
	
		{% if 'theme' in user.UserSettings %}
			<link href="/static/css/style-{{user.UserSettings['theme']}}.min.css?revision={{serversettings.settings['static-revision']}}" rel="stylesheet" type="text/css" media="screen" />
			{% else %}
			<link href="/static/css/style-default.min.css?revision={{serversettings.settings['static-revision']}}" rel="stylesheet" type="text/css" media="screen" />
		{% end %}
 		    <link href="/static/css/video-js.min.css?revision={{serversettings.settings['static-revision']}}" rel="stylesheet">
		    <link rel="stylesheet" href="/static/css/fontello.min.css?revision={{serversettings.settings['static-revision']}}">
		    <link rel="stylesheet" href="/static/css/animation.css">
		    <!--[if IE 7]>
    			<link rel="stylesheet" href="/static/css/fontello-ie7.min.css">
    		<![endif]-->
    	
	{% end %}
	
	
    <link rel="icon" href="/static/icons/32x32Icon.png?revision={{serversettings.settings['static-revision']}}" type="image/png" />
	<link rel="apple-touch-icon" href="/static/icons/apple-touch-icon-57x57.png?revision={{serversettings.settings['static-revision']}}" />
	<link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png?revision={{serversettings.settings['static-revision']}}" />
	<link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png?revision={{serversettings.settings['static-revision']}}" />
	<link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png?revision={{serversettings.settings['static-revision']}}" />

{% if browser['ua_family'] == 'IE' and browser['ua_versions'][0] < 9 %}
  <script src="/static/scripts/IE9.min.js?revision={{serversettings.settings['static-revision']}}"></script>  
{% end %}
{% if (browser['ua_family'] != 'IE' and browser['ua_versions'][0] >= 8) or (browser['ua_family'] != 'IE') %}
  <script defer src="/static/scripts/unified.min.js?revision={{serversettings.settings['static-revision']}}"></script>
{% end %}


</head>
<body link="#000000" visited="#000000" text="#000000" background="#CCCCCC" style="height: 100%;">

		<div id="spinner" class="black_overlay">
		</div> <!-- #Spinner is inserted via JS, so it won't show up in lynx or with CSS disabled-->
