<!doctype html>

	<!-- Hey, Source Reader!
	Welcome to Tavern. I know my coding skills are somewhat sub-par, but if you have any suggestions, I'd love to hear them.
	This project is Open Source - You can help change it - Check out our Github - https://github.com/e1ven/Tavern

	Anyway, Enjoy the site, and I'd love any thoughts.

	You are browsing this in - {{handler.useragent['ua_family']}}
	-->
	
<html lang="en"> 
<head>
    <meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	{% if handler.canon is defined %}
		<link rel=canonical href="{{handler.server.serversettings.settings['canonical_url']}}/{{handler.canon}}"/>
		<meta property="og:url" content="{{handler.server.serversettings.settings['canonical_url']}}/{{handler.canon}}"/>
		<meta property="og:blog" content="article"/>
	{% endif %}
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">



	{% if handler.title is defined %}
		<meta NAME="Description" CONTENT="Tavern ;) - {{handler.title}}">
	{% else %}
		<meta NAME="Description" CONTENT="A shared discussion about the topics that matter.">
	{% endif %}

	<meta http-equiv="X-Frame-Options" content="deny">
	<meta property="og:site_name" content="Tavern"/>

	<title>
		{% if handler.title is defined %}
		Tavern ;) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{ handler.title }}
		{% else %}
		Tavern ;) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Discuss what matters.
		{% endif %}
	</title>
	<meta property="og:title" content="
	{% if handler.title is defined %}
	Tavern :: {{ handler.title }}
	{% else %}
	Tavern :: Discuss what matters
	{% endif %}
	"/>

	<link rel="alternate" type="application/rss+xml" title="Updates on {{ handler.topic }}" href="/rss/topic/{{ handler.topic }}" /> 

	{% if handler.useragent['ua_family'] != 'Netscape Navigator' or handler.useagent['ua_versions'][0] > 4 %}
			<link href="/static/css/unified-{{ handler.user.UserSettings['theme'] }}.min.css?v={{ handler.server.serversettings.settings['static-revision']}}" rel="stylesheet" type="text/css" media="screen" />
		    <!--[if IE 7]>
    			<link rel="stylesheet" href="/static/css/fontello-ie7.min.css">
    		<![endif]-->	
	{% endif %}
	

    <link rel="icon" href="/static/icons/32x32Icon.png?v={{ handler.server.serversettings.settings['static-revision'] }}" type="image/png" />
	<link rel="apple-touch-icon" href="/static/icons/apple-touch-icon-57x57.png?v={{ handler.server.serversettings.settings['static-revision'] }}" />
	<link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png?v={{ handler.server.serversettings.settings['static-revision'] }}" />
	<link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png?v={{ handler.server.serversettings.settings['static-revision'] }}" />
	<link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png?v={{ handler.server.serversettings.settings['static-revision'] }}" />

	{% if handler.useragent['ua_family'] == 'IE' and browser['ua_versions'][0] < 9 %}
	  <script src="/static/scripts/IE9.min.js?v={{ handler.server.serversettings.settings['static-revision'] }}"></script>  
	{% endif %}



	<!-- Include JS one-by-one if loaded in debug -->
	{% if handler.server.logger.getEffectiveLevel() <= 20 %}
		{% include 'header-debug-JS.html' %}
	{% else %}
		<!-- No JS for IE < 8 -->
		{% if handler.useragent['ua_family'] != 'IE' or requestvars['browser']['ua_versions'][0] >= 8 %}
		  <script defer src="/static/scripts/unified.min.js?v={{ handler.server.serversettings.settings['static-revision'] }}"></script>
		{% endif %}
	{% endif %}

</head>
<body link="#000000" visited="#000000" text="#000000" background="#CCCCCC" id="body">

		<div id="spinner" class="black_overlay clear">
		</div> <!-- SpinnerImg is inserted via JS, so it won't show up in lynx or with CSS disabled-->
