{% from ServerSettings import serversettings %}
{% set envelope = server.db.unsafe.find_one('envelopes',{'envelope.local.payload_sha512' : messageid }) %}
{% if envelope is None %}
    {% set envelope = server.error_envelope("I'm sorry, but your message can't be loaded.").dict %}
{% end %}


{% set permalink = request.protocol + "://" + serversettings.settings['hostname'] + '/message/' + envelope['envelope']['local']['sorttopic'] + '/' + envelope['envelope']['local']['short_subject'] + '/' + envelope['envelope']['local']['payload_sha512']  %}


{% if 'medialink' in envelope['envelope']['local'] %}
    {% set medialink = str(serversettings.settings['downloadsurl']) + str(envelope['envelope']['local']['medialink']) %}
{% else %}
    {% set medialink = permalink %}
{% end %}
{% set note = user.getNote(envelope['envelope']['payload']['author']['pubkey']) %}
{% set messagerating = user.getRatings(envelope['envelope']['local']['payload_sha512']) %}
{% set trust = user.gatherTrust(askingabout=envelope['envelope']['payload']['author']['pubkey']) %}

<ul>
    <li>
        <div class="comment rating_{{messagerating}} " rating={{messagerating}}>

            <a class="details commentDetails"user="{{envelope['envelope']['local']['payload_sha512']}}" href="/user/{{''.join(envelope['envelope']['payload']['author']['pubkey'].split())}}" rel="author">
                <img class="floatLeft clear commentavatar" id="avatar_{{envelope['envelope']['local']['payload_sha512']}}" width="40" height="40" alt="User Details" src="{{server.external.getavatar(myid=''.join(envelope['envelope']['payload']['author']['pubkey'].split()),datauri=user.datauri,width=40,height=40)}}" />

                <h6>
                    By <b>{{envelope['envelope']['payload']['author']['friendlyname']}}</b>@{{envelope['envelope']['local']['author_wordhash']}}
                
                    {% if note is not None %}
                        <div class="note"> ( {{note}} ) </div>
                    {% end %}
                </h6>
            </a>


            <div class="UserDetails" id="details_{{envelope['envelope']['local']['payload_sha512']}}">
                <abbr title='You {{user.translateTrustToWords(trust)}} this user : {{trust}}'>
                 {% if trust > 50 %}
                 This user is allowed to rate comments.
                 {% elif trust < 50 and trust > 0 %}
                 This user's ratings have a slight effect on a comment's score.
                 {% elif trust <= 0 %}
                 This user's ratings have no effect on a comment's score.
                 {% end %}
                </abbr><br>
                {% if trust < 100 %}
                <form action="/usertrust" method="post">
                    {% raw xsrf_form_html() %}
                    <input type="hidden" name="trust" value="100">
                    <input type="hidden" name="topic" value="{{envelope['envelope']['payload']['topic']}}">
                    <input type="hidden" name="trusted_pubkey" value="{{envelope['envelope']['payload']['author']['pubkey']}}">
                    <input class="textbutton" type="submit" value="Recommended this users to others.">
                </form>
                <br>
                {% end %}
                {% if trust > -100 and trust < 100 %}
                <form action="/usertrust" method="post">
                    {% raw xsrf_form_html() %}
                    <input type="hidden" name="trust" value="-100">
                    <input type="hidden" name="topic" value="{{envelope['envelope']['payload']['topic']}}">
                    <input type="hidden" name="trusted_pubkey" value="{{envelope['envelope']['payload']['author']['pubkey']}}">
                    <input class="textbutton" type="submit" value="Warn others about this user.">
                </form>
                {% end %}
                <br>
                <form action="/usernote" method="post" class="usernote">
                     {% raw xsrf_form_html() %}
                    <input type="hidden" name="pubkey" value="{{envelope['envelope']['payload']['author']['pubkey']}}">
                    <input class="usernote" type="text" value="" name="note" {% if note is None %} placeholder="Add a note to yourself about this user" {% else %} placeholder="{{note}}" {% end %} >
                </form>
                <br>
                <a href="/user/{{''.join(envelope['envelope']['payload']['author']['pubkey'].split())}}">Full Details</a>
            </div>  
            <div class="messageDate">
                Received <abbr title="{{datetime.datetime.fromtimestamp(int(envelope['envelope']['local']['time_added'])).strftime("%A, %d. %B %Y %I:%M%p")}}"><time datetime="{{datetime.datetime.fromtimestamp(int(envelope['envelope']['local']['time_added'])).isoformat()}}">{{server.FancyDateTimeDelta(datetime.datetime.fromtimestamp(int(envelope['envelope']['local']['time_added']))).format() }}.</time></abbr>
            </div>
            <div class="messageRating">
                {% if messagerating != 0 %} Average Message Rating: {{messagerating}} {% end %}
            </div>

            <hr id="lowerCommentSeparation" class="commentSeparation">

            <div class="floatLeft clear paraBuffer">
                    {% raw envelope['envelope']['local']['formattedbody'] %}
            </div>


            <hr class="clear firstMessageSeparationLine">
            <form action="/vote" method="post" class="vote">
              {% raw xsrf_form_html() %}
            <input type="hidden" name="rating" value="1">
            <input type="hidden" name="hash" value="{{envelope['envelope']['local']['payload_sha512']}}">
            <abbr title= "This post was helpful.">
                <input type="image" src="/static/images/t_up.png" alt="Thumbs Up on this post" height="16" width="16" class="floatLeft likeDislikeIcon">
                <input value="Like" type="submit" class="floatLeft iconLabelColorDark likeDislikeLabel textbutton iconLabels">

            </abbr>

            </form>

            <form action="/vote" method="post" class="vote">
              {% raw xsrf_form_html() %}
            <input type="hidden" name="rating" value="-1" >
            <input type="hidden" name="hash" value="{{envelope['envelope']['local']['payload_sha512']}}">
            <abbr title="This post was inappropriate.">
                <input type="image" src="/static/images/t_down.png" alt="Thumbs Down on this post" height="16" width="16" class="floatLeft likeDislikeIcon">
                <input value="Dislike" type="submit" class="floatLeft iconLabelColorDark likeDislikeLabel textbutton iconLabels">

            </abbr>

            </form>


            <div id="firstMessageLinks">
                <div id="externalsharing">
                <abbr title="Share via Facebook">    
                    <a href="http://www.facebook.com/sharer.php?u={{permalink}}&t={{envelope['envelope']['local']['short_subject']}}">
                        <i class="icon-facebook-squared floatLeft iconLabelColorDark"></i>
                    </a>
                </abbr>

                <abbr title="Share via Twitter">    
                    <a href="http://twitter.com/home?status=via @Tavern - {{envelope['envelope']['local']['short_subject']}}%0A%0A%0A{{permalink}}" >
                        <i class="icon-twitter-squared floatLeft iconLabelColorDark"></i>
                  </a>
                </abbr>
                <abbr title="Share via Google+">
                    <a href="https://plus.google.com/share?url={{permalink}}" onclick="javascript:window.open(this.href,
            '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <i class="icon-gplus-squared floatLeft iconLabelColorDark"></i>
                    </a>
                </abbr>
                <abbr title="Pin this">
                    <a href="http://pinterest.com/pin/create/button/?url={{permalink}}&media={{medialink}}&description={{envelope['envelope']['local']['short_subject']}}">
                        <i class="icon-pinterest-squared floatLeft iconLabelColorDark" ></i>
                    </a>
                </abbr>
                </div>
                <div class="messageCommands"
                    <abbr title="Mark this post as a favorite">
                        <a href="#">
                            <i class="icon-twitter-squared floatLeft iconLabelColorDark"></i>
                        </a>
                    </abbr>
                    <abbr title="Report this post">
                        <a href="#">
                            <i class="icon-twitter-squared floatLeft iconLabelColorDark"></i>
                        </a>
                    </abbr>
                    <abbr title="Permalink">
                        <a href="#">
                            <i class="icon-twitter-squared floatLeft iconLabelColorDark"></i>
                        </a>
                    </abbr>
                </div>
                <div class="messageReplyLink">
                    <a class="buffer reply iconLabelColorDark" message="{{envelope['envelope']['local']['payload_sha512']}}" href="/reply/{{envelope['envelope']['payload']['topic']}}/{{envelope['envelope']['local']['payload_sha512']}}">
                        Reply
                    </a>
                </div>
                <div id="reply_{{envelope['envelope']['local']['payload_sha512']}}" class='iconLabelColorDark'></div>

                
            </div>


            {% raw handler.render_string('attachmentsandembeds.html',envelope=envelope) %}
        </div>


            {% if 'citedby' in envelope['envelope']['local'] %}
                {% for cite in envelope['envelope']['local']['citedby'] %}
                    {% raw handler.render_string('reply.html',messageid=cite) %}
                {% end %}
            {% end %}
    </li>
</ul>
