{% from ServerSettings import serversettings %}
{% import Envelope %}
{% set envelope = Envelope.Envelope() %}
{% if not envelope.loadmongo(messageid) %}
    {% set envelope = server.error_envelope("I'm sorry, but your message can't be loaded.") %}
{% end %}


{% set permalink = serversettings.settings['web_url'] + '/message/' + envelope.dict['envelope']['local']['sorttopic'] + '/' + envelope.dict['envelope']['local']['short_subject'] + '/' + envelope.dict['envelope']['local']['payload_sha512']  %}

{% if 'medialink' in envelope.dict['envelope']['local'] %}
    {% set medialink = str(serversettings.settings['downloadsurl']) + str(envelope.dict['envelope']['local']['medialink']) %}
{% else %}
    {% set medialink = permalink %}
{% end %}
{% set note = user.getNote(envelope.dict['envelope']['local']['author']['minipubkey']) %}
{% set messagerating = user.getRatings(envelope.dict['envelope']['local']['payload_sha512']) %}
{% set trust = user.gatherTrust(askingabout=envelope.dict['envelope']['local']['author']['minipubkey']) %}


{# Show edited version of comment, if there's nothing stopping us.... #}
{% if 'edits' in envelope.dict['envelope']['local'] %}
    {% set showedit = True %}
{% else %}
    {% set showedit = False %}
{% end %}
{% if 'ignoreedits' in request.arguments %}
    {% set showedit = False %}
{% end %}
{% if user.UserSettings['ignoreedits'] == True %}
    {% set showedit = False %}
{% end %}


<ul>
    <li>
        <div class="comment rating_{{messagerating}} " rating={{messagerating}}>

            <a class="details commentDetails" user="{{envelope.dict['envelope']['local']['payload_sha512']}}" href="/user/{{''.join(envelope.dict['envelope']['local']['author']['minipubkey'].split())}}" rel="author">
                
                <img class="floatLeft clear commentavatar lazyload" id="avatar_{{envelope.dict['envelope']['local']['payload_sha512']}}" width="40" height="40" alt="User Details" data-src="{{server.external.getavatar(myid=''.join(envelope.dict['envelope']['local']['author']['minipubkey'].split()),datauri=user.datauri,width=40,height=40)}}" />
                
                <h6>
                    By <b>{{envelope.dict['envelope']['local']['author']['friendlyname']}}</b>@{{envelope.dict['envelope']['local']['author_wordhash']}}
                
                    {% if note is not None %}
                        <div class="note"> ( {{note}} ) </div>
                    {% end %}
                </h6>
            </a>


            {% include 'UserDetails.html' %}
           
            <div class="messageDate">
                Received <abbr title="{{datetime.datetime.fromtimestamp(int(envelope.dict['envelope']['local']['time_added'])).strftime("%A, %d. %B %Y %I:%M%p")}}"><time datetime="{{datetime.datetime.fromtimestamp(int(envelope.dict['envelope']['local']['time_added'])).isoformat()}}">{{server.FancyDateTimeDelta(datetime.datetime.fromtimestamp(int(envelope.dict['envelope']['local']['time_added']))).format() }}.</time></abbr>

                {% if 'edits' in envelope.dict['envelope']['local'] %}
                    <abbr title="This message has been edited."><a href="/messagehistory/{{envelope.dict['envelope']['local']['payload_sha512']}}">*</a></abbr>
                {% end %}
            </div>
            <div class="messageRating">
                {% if messagerating != 0 %} Average Message Rating: {{messagerating}} {% end %}
            </div>

            <hr id="lowerCommentSeparation" class="commentSeparation">

            <div class="floatLeft clear paraBuffer MessageBody">
                    {% if showedit == True %}
                        {% raw envelope.dict['envelope']['local']['edits'][-1]['envelope']['local']['formattedbody'] %}
                    {% else %}
                        {% raw envelope.dict['envelope']['local']['formattedbody'] %}
                    {% end %}           
            </div>


            <hr class="clear firstMessageSeparationLine">
            <form action="/vote" method="post" class="vote">
              {% raw xsrf_form_html() %}
            <input type="hidden" name="rating" value="1">
            <input type="hidden" name="hash" value="{{envelope.dict['envelope']['local']['payload_sha512']}}">
            <abbr title= "This post was helpful.">
                <input type="image" src="/static/images/t_up.png" alt="Thumbs Up on this post" height="16" width="16" class="floatLeft likeDislikeIcon">
                <input value="Like" type="submit" class="floatLeft iconLabelColorDark likeDislikeLabel textbutton iconLabels">

            </abbr>

            </form>

            <form action="/vote" method="post" class="vote">
              {% raw xsrf_form_html() %}
            <input type="hidden" name="rating" value="-1" >
            <input type="hidden" name="hash" value="{{envelope.dict['envelope']['local']['payload_sha512']}}">
            <abbr title="This post was inappropriate.">
                <input type="image" src="/static/images/t_down.png" alt="Thumbs Down on this post" height="16" width="16" class="floatLeft likeDislikeIcon">
                <input value="Dislike" type="submit" class="floatLeft iconLabelColorDark likeDislikeLabel textbutton iconLabels">

            </abbr>

            </form>


            <div id="firstMessageLinks">
                <div class="externalsharing">
                <abbr title="Share via Facebook">    
                    <a href="http://www.facebook.com/sharer.php?u={{permalink}}&t={{envelope.dict['envelope']['local']['short_subject']}}">
                        <i class="icon-facebook-squared floatLeft iconLabelColorDark"></i>
                    </a>
                </abbr>

                <abbr title="Share via Twitter">    
                    <a href="http://twitter.com/home?status=via @Tavern - {{envelope.dict['envelope']['local']['short_subject']}}%0A%0A%0A{{permalink}}" >
                        <i class="icon-twitter floatLeft iconLabelColorDark"></i>
                  </a>
                </abbr>
                <abbr title="Share via Google+">
                    <a href="https://plus.google.com/share?url={{permalink}}" onclick="javascript:window.open(this.href,
            '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <i class="icon-gplus floatLeft iconLabelColorDark"></i>
                    </a>
                </abbr>
                <abbr title="Pin this">
                    <a href="http://pinterest.com/pin/create/button/?url={{permalink}}&media={{medialink}}&description={{envelope.dict['envelope']['local']['short_subject']}}">
                        <i class="icon-pinterest floatLeft iconLabelColorDark" ></i>
                    </a>
                </abbr>
                </div>
                <div class="messageCommands">
                    <abbr title="Mark this post as a favorite">
                        <a href="#">
                            <i class="icon-star-empty floatLeft iconLabelColorDark"></i>
                        </a>
                    </abbr>
                    <abbr title="Report this post">
                        <a href="#">
                            <i class="icon-alert floatLeft iconLabelColorDark"></i>
                        </a>
                    </abbr>
                    <abbr title="Permalink">
                        <a href="{{permalink}}">
                            <i class="icon-link floatLeft iconLabelColorDark"></i>
                        </a>
                    </abbr>
                </div>
                <div class="messageReplyLink">
                    <a class="buffer reply iconLabelColorDark" message="{{envelope.dict['envelope']['local']['payload_sha512']}}" href="/reply/{{envelope.dict['envelope']['payload']['topic']}}/{{envelope.dict['envelope']['local']['payload_sha512']}}">
                        Reply
                    </a>
                    {% if user.Keys['master'].minipubkey == envelope.dict['envelope']['local']['author']['minipubkey'] %}
                        <a class="buffer reply iconLabelColorDark" message="{{envelope.dict['envelope']['local']['payload_sha512']}}" href="/edit/{{envelope.dict['envelope']['local']['payload_sha512']}}">
                            Edit
                        </a>
                    {% end %}
                </div>
                <div id="reply_{{envelope.dict['envelope']['local']['payload_sha512']}}" class='iconLabelColorDark'></div>

                
            </div>


            {% raw handler.render_string('attachmentsandembeds.html',envelope=envelope) %}
        </div>


            {% if 'citedby' in envelope.dict['envelope']['local'] %}
                {% for cite in envelope.dict['envelope']['local']['citedby'] %}
                    {% raw handler.render_string('reply.html',messageid=cite) %}
                {% end %}
            {% end %}
    </li>
</ul>
