
<div class="single">

<h1> Posts for {{hisname}} </h1>

<p></p>
<ul>

{% set envelopes = server.getUsersPosts(thatguy.Keys['master'].pubkey) %}

{% if len(envelopes) != 0 %}
    {% for envelope in envelopes %}
        {% if envelope.dict['envelope']['payload']['class'] == 'message' %}
            <li><a href="/message/{{envelope.dict['envelope']['local']['sorttopic']}}/{{envelope.dict['envelope']['local']['short_subject']}}/{{envelope.dict['envelope']['local']['payload_sha512']}}">{{envelope.dict['envelope']['payload']['subject']}}</a></li>
        {% end %}
    {% end %}
{% else %}
    {{hisname}} has not yet posted any messages.
{% end %}

</ul>
</div> <!-- .single -->
