{% from server import server %}
{% from TopicTool import TopicTool %}

{% if before is not None %}
	{% set subjects = TopicTool(topic=topic,maxposts=user.UserSettings['maxposts']).messages(before=before) %}
	{% set aftercount = TopicTool(topic=topic,maxposts=user.UserSettings['maxposts']).messages(before=subjects[-1]['envelope']['local']['time_added'],countonly=True) %}
{% else %}
	{% set subjects = TopicTool(topic=topic,maxposts=user.UserSettings['maxposts']).messages(server.inttime()) %}
	{% set aftercount = TopicTool(topic=topic,maxposts=user.UserSettings['maxposts']).messages(before=subjects[-1]['envelope']['local']['time_added'],countonly=True) %}
{% end %}

{% set newbefore = TopicTool(topic=topic,maxposts=user.UserSettings['maxposts']).getbackdate(after=subjects[0]['envelope']['local']['time_added']) %}				
{% set beforecount = TopicTool(topic=topic,maxposts=user.UserSettings['maxposts']).getbackdate(after=subjects[0]['envelope']['local']['time_added'],countonly=True) %}				
			<div id="left">
				<h2>Your Topics</h2>
					<ul>
                    {% for quicktopic in user.UserSettings['followedTopics'] %}
      					<li {%if quicktopic == topic %} class="active"{% end %} >
	                    	<a class="internal" href="/topic/{{server.sorttopic(quicktopic)}}"><bdi>{{quicktopic}}</bdi></a>
	                    </li>
                    {% end %}

					</ul>

				
				<h2>Top Topics</h2>
					<ul>
					{% for quicktopic in TopicTool().toptopics() %}
                    <li {% if server.sorttopic(quicktopic['_id']['tag']) == server.sorttopic(topic) %} class="active"{% end %} >
                    	<a class="internal" href="/topic/{{server.sorttopic(quicktopic['_id']['tag'])}}"><bdi>{{quicktopic['_id']['tag']}}</bdi></a>
                    </li>
                    {% end %}
					</ul>
				 <h2>Special</h2>
					<ul>
						<li><a href="/topic/all">All Messages</a></li>
						<li><a href="/alltopics">All Topics</a></li>

					</ul>
			</div><!-- #left -->

			<div id="centerandright">
			<div id="center">
				<h2>
					{% if topic == 'sitecontent' %}
					Messages from {{serversettings.ServerSettings['hostname']}}
					{% elif topic == 'all' %} 
                    	All Messages
                    {% else %}    
						Messages in <bdi>{{topic}}</bdi> <a class="internal configbutton" href="/topicinfo/{{server.sorttopic(topic)}}"><i class="icon-tools"><div class='textmodeinfo'>Change Topic settings</div></i></a>
					{% end %}
				</h2>
				{% if topic != 'sitecontent' and topic != 'all' %}	
						<ul><li class="newpost">
						<a href="/reply/{{server.sorttopic(topic)}}" class="internal newpost-text"> <i class="icon-edit"></i>New Message in <bdi>{{envelope['envelope']['payload']['topic']}}</bdi></a>
						</li></ul>
				{% end %}

				<ul>
					{% for subject in subjects %}
					<li  class="message{% if subject['envelope']['payload_sha512'] == envelope['envelope']['payload_sha512'] %} active{% end %}" >
						<a class='internal' href="/message/{{server.sorttopic(topic)}}/{{subject['envelope']['local']['short_subject']}}/{{subject['envelope']['payload_sha512']}}"><bdi>{{subject['envelope']['payload']['subject']}}</bdi></a>
					</li>
                    {% end %}    
				</ul>	
				
				<ul>
					{% if beforecount > 0 %}
						<li {% if beforecount > 0 and aftercount > 0 %} class="newpost-newer" {% else %} class="newpost" {% end %}>
							<a href="/topic/{{topic}}?before={{newbefore}}" class="internal newpost-text "> <i class="icon-arrow-left"></i>Newer Messages</a>
						</li>
					{% end %}
					{% if aftercount > 0 %}
					<li  {% if beforecount > 0 and aftercount > 0 %} class="newpost-older" {% else %} class="newpost" {% end %}>
						<a href="/topic/{{topic}}?before={{subjects[-1]['envelope']['local']['time_added']}}" class="internal newpost-text"> <i class="icon-arrow-right"></i>Older Messages</a>
					</li>
					{% end %}
				</ul>
	
			</div><!-- #center -->
			
			<div id="right">
				<div class="thread">
					<h1><bdi>{{envelope['envelope']['payload']['subject']}}</bdi></h1>
						{% if 'payload_sha512' in envelope['envelope'] %}
								{% raw handler.render_string('reply.html',messageid=envelope['envelope']['payload_sha512'],user=user,orient="right") %}
						{% end %}
					</div>
				
			</div><!-- #right -->
		    </div><!-- #centerandright -->
