{# Do the Standard Python Imports #}
    {% from TopicTool import topictool %}
    {% import TavernUtils %}

<table id="wrappertable" cellpadding="0" cellspacing="0" valign="top" role="presentation">
    <tr>
    	<td id="column1" valign="top" BACKGROUND="/static/images/texture.png" width="180px">
            <div id="scrollablediv1" class="fullscroller">
        		{% block column1 %}



                <a href="/"><img id="logo" src="/static/images/logo.png" alt="TAVERN"/></a>
                
                <ul class="accordion">      

                    {% if user.isLoggedIn() %}
                    <li id="two" class="mainheader"><a href="#">Your Account</a>
                        <ul  class="sub-element">
                            <a href="/user/{{user.UserSettings['pubkey']}}">
                                <img class="avatar" id="youravatar" alt= "Your Avatar" src="/avatar/{{''.join(user.UserSettings['pubkey'].split())}}.png?set=any&amp;bgset=any&amp;size=100x100"/>
                            </a>
                            {% if user.UserSettings['username'] != "Anonymous" %}
                                You are logged in as: <br>
                                <a style="padding 0 0 0 0;" href="/user/{{user.UserSettings['pubkey']}}">{{user.UserSettings['username']}}</a>
                            {% else %}You are logged in with a temporary account.<br><br>
                            {% end %}
                            You are posting under the alias:<br>
                            <a style="padding 0 0 0 0;" href="/user/{{user.UserSettings['pubkey']}}">{{user.UserSettings['friendlyname']}}</a>
                        </ul>
                    </li>
                    {% else %}
                    <li id="two" class="mainheader"><a href="#">Register or Login</a>
                        <ul  class="sub-element">
                            <div id="login">
                                <form action="/login" method="post">
                                  {% raw xsrf_form_html() %}
                                <p>
                                Username: <input type="text" name="username">
                                </p><p>
                                Password: <input type="password" name="pass">
                                </p>
                                <p>
                                <input type="submit" value="Login">
                                </p>
                                </form>
                            </div>
                        </ul>
                    {% end %}
                    <li id="three" class="mainheader"><a href="#">Trending Topics<span>26</span></a>
                        <ul class="sub-element sub-menu">
                            {% for quicktopic in topictool.toptopics() %}
                                <li {% if server.sorttopic(quicktopic['_id']['tag']) == server.sorttopic(topic) %} class="active"{% end %} >
                                    <a class="internal" href="/topic/{{server.sorttopic(quicktopic['_id']['tag'])}}">
                                        <bdi>{{quicktopic['_id']['tag']}}</bdi>
                                        <span>{{topictool.topicCount(topic=quicktopic['_id']['tag'],toponly=True)}}</span>
                                    </a>
                                </li>
                            {% end %}
                        </ul>
                    </li>
                    <li id="two" class="mainheader"><a href="#">Saved Topics<span>495</span></a>
                        <ul class="sub-element sub-menu">
                            {% for quicktopic in user.UserSettings['followedTopics'] %}
                                <li {%if quicktopic == topic %} class="active"{% end %} >
                                    <a class="internal" href="/topic/{{server.sorttopic(quicktopic)}}"><bdi>{{quicktopic}}</bdi></a>
                                </li>
                            {% end %}
                        </ul>
                    </li>
                    <li id="four" class="mainheader"><a href="#">Special</a>
                        <ul class="sub-element sub-menu">
                            <li><a href="/topic/all">All Messages</a></li>
                            <li><a href="/alltopics">All Topics</a></li>
                        </ul>
                    </li>
<!--                     <li id="five" class="mainheader"><a href="#">All Messages</a></li>
                    <li id="six" class="mainheader"><a href="#">Extras</a></li> -->

                </ul>
    	    	{% end %}
            </div>
            </td>
            <td id="column2" valign="top" >
                <div id="scrollablediv2" class="fullscroller">
                    {% block column2 %}


                    {# Calculate the before/next button links #}

                        {% set subjects = topictool.messages(before=before,topic=topic,maxposts=user.UserSettings['maxposts']) %}
                        {% set aftercount = topictool.topicCount(before=subjects[0]['envelope']['local']['time_added'],topic=topic) %}

                        {% set newbefore = topictool.getbackdate(after=subjects[0]['envelope']['local']['time_added'],topic=topic,maxposts=user.UserSettings['maxposts']) %}               
                        {% set beforecount = topictool.topicCount(after=subjects[0]['envelope']['local']['time_added'],topic=topic) %}  



                        {% if topic is not None %}
            	            <table cellpadding="0" cellspacing="0" valign="top" role="presentation" width="100%">
            	            	<tr height="10px">
            	            		<td colspan=2>
            	            			<hr id="column2HR">
            	            		</td>
            	            	</tr>
            	            	<tr>
            	                	<td>
            			            	<h4><a id="column2Topic" href="/topic/{{server.sorttopic(topic)}}">{{topic}}</a></h4>
            			            </td>
            			            <td>
            			        		<h4 id="column2MsgCount">{{topictool.topicCount(topic=topic,toponly=True)}} Messages</h4>
            			        	</td>
            			        <tr>
            			        	<td>    
                                        <a href="/topicinfo/{{server.sorttopic(topic)}}">
            			        		   <button id="column2ButtonLeft" class="column2Buttons" type="button">
                                            Topic Setting
            			        			<span class="icon-tools navIcon"></span>
            			        		   </button>
                                        </a>
            			        	</td>
            			        	<td>
                                      <a href="/reply/{{server.sorttopic(topic)}}" class="internal">
                                           <button id="column2ButtonRight" class="column2Buttons" type="button">
                                            New Message
                                            <span class="icon-tools navIcon"></span>
                                           </button>
                                        </a>
            	          			</td>
            	                </tr>
            	            </table>
            	          	<table cellpadding="0" cellspacing="0" valign="top" role="presentation" width="100%">
            	          		<tr>
            	            		<td valign="top">

                      					{% for subject in subjects %}
            				          	<p class="messages {%if subject['envelope']['payload_sha512'] == envelope['envelope']['payload_sha512']%} active{% end %}">
            				          		<a class='internal' href="/message/{{server.sorttopic(topic)}}/{{subject['envelope']['local']['short_subject']}}/{{subject['envelope']['payload_sha512']}}">
            				          			<span class="messagesPadding displayBlock">				          			
            				          				<bdi>{{subject['envelope']['payload']['subject']}}</bdi>
            				          			</span>
            				          		</a>
            				          	</p>
            				          	{% end %}

                                        <table cellpadding="0" cellspacing="0" valign="top" role="presentation" width="100%">
                                            <tr>
                                                <td>   
                                                    {% if beforecount > 0 %}
                                                    <a href="/topic/{{topic}}?before={{newbefore}}">
                                                       <button id="NewerMessages" class="column2Buttons" type="button">
                                                        Newer Messages
                                                        <span class="icon-tools navIcon"></span>
                                                       </button>
                                                    </a>
                                                    {% end %}
                                                </td>
                                                <td>
                                                    {% if aftercount > 0 %}
                                                    <a href="/topic/{{topic}}?before={{subjects[-1]['envelope']['local']['time_added']}}" class="internal">
                                                       <button id="OlderMessages" class="column2Buttons" type="button">
                                                        Older Messages
                                                        <span class="icon-tools navIcon"></span>
                                                       </button>
                                                    </a>
                                                    {% end %}
                                                </td>
                                            </tr>
                                        </table>


            	            		</td>
            	                </tr>
            	            </table>
                        {% end %}
                    {% end %}
                </div>
            </td>
            <td id="column3" valign="top">
                <div id="scrollablediv3" class="fullscroller">

                {% block column3 %}
                {% end %}

                </div>
            </td>
    </tr>
</table>
