{% if len(envelopes) != 0 %}
{% set hisname = envelopes[0]['envelope']['payload']['author']['friendlyname'] + "@" + envelopes[0]['envelope']['local']['author_pubkey_sha1'] %}
{% else %}
{% set hisname =  thatguy.UserSettings['friendlyname'] + "@" + thatguy.UserSettings['author_pubkey_sha1'] %}
{% end %}
<div class="single userportrait">
<h1> Details about {{hisname}} </h1>
<p></p>
<p><a href="/privatemessage/{{thatguy.UserSettings['pubkey']}}">Send {{hisname}} a private message</a></p><br>
<ul>


<img id="avatar_{{''.join(thatguy.UserSettings['pubkey'].split())}}" class="portrait" width="200px" height="200px" alt="User Portrait " src="{{'/avatar/' + ''.join(thatguy.UserSettings['pubkey'].split()) + '.png?set=any&amp;bgset=any&amp;size=200x200'}}" /><br>




{% set trust = me.gatherTrust(askingabout=thatguy.UserSettings['pubkey']) %}
    You <abbr title='{{trust}}'>{{me.translateTrustToWords(trust)}}</abbr> this user.<br>
    {% set note = me.getNote(thatguy.UserSettings['pubkey']) %}
    {% if note is not None %}
        You set the following note about this user:<Br>
        <div class="note"><i>{{note}}</i></div>
    {% end %}
        <br><br>

        Set a note about this user:<Br>
        <form action="/usernote" method="post" class="usernote">
             {% raw xsrf_form_html() %}
            <input type="hidden" name="pubkey" value="{{thatguy.UserSettings['pubkey']}}">
            <input class="usernote" type="text" value="" name="note" {% if note is None %} placeholder="Add a note about this user" {% else %} placeholder="{{note}}" {% end %} >
        </form>

</ul>
<Br><br><br>

</div> <!-- .single -->
