@import "reset.scss";
@import "compass";

html {
    height: 100%;
    font-family:'FiraSans', "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
    height: 100%;
}

$purple: #4c4c9c;


$grey: #cccccc;
$lightgrey: #eaeaea;
$darkgrey: #333333;
$bluegrey: #404247;
$greybrown: #56504d;


$nearblack: #0f0f0e;
$creme: #e6e2d7;

$gradient1: #2d2d2d;
$gradient2: #393939;

$gradientHL: mix($creme,lighten(mix($gradient1,$gradient2),10%));


@mixin trivialAnimation(){
    // Animation used to trigger an event
    animation-duration: 0.001s;
    -o-animation-duration: 0.001s;
    -ms-animation-duration: 0.001s;
    -moz-animation-duration: 0.001s;
    -webkit-animation-duration: 0.001s;
    animation-name: nodeInserted;
    -o-animation-name: nodeInserted;
    -ms-animation-name: nodeInserted;        
    -moz-animation-name: nodeInserted;
    -webkit-animation-name: nodeInserted;
}


a {
    color:$darkgrey;

    text-decoration:none;
    &:focus {
      outline: thin dotted #333;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }

    &:hover,
    &:active {
    	outline: 0;
    	text-decoration: underline;
        color: 000000;
        font-weight: 500;
    }
}

form.vote {
    @include trivialAnimation();
}
 
// Ensure the spinner doesn't display until we want it.      
#spinner {
    display:none;   
}

.spinner:after {
    content: '';
    border-top:6px solid rgba(0,174,239,.8);
    border-left:6px solid rgba(0,174,239,.8);
    border-bottom:6px solid rgba(0,174,239,.8);
    border-right:6px solid rgba(0,174,239,.8);
    border-radius:100%;
    border-style: dotted;
    width: 20px;
    height: 20px;
    display: inline-block;
    -webkit-animation: rotation 1.2s infinite linear;
    -moz-animation: rotation 1.2s infinite linear;
    -o-animation: rotation 1.2s infinite linear;
    animation: rotation 1.2s infinite linear;
}


// Disable the view of all .lazyload images
// Then, we can enable it via JS
// This way, only JS-enabled browsers will see them.
.lazyload {
    display:none;   
}



.textbutton {
    // Make buttons look like regular links.
    position:relative;
    border: 0px;
    background-color: transparent;
    text-decoration:none;  
    margin: 0;
    padding: 0;
        
        &:hover{
            @extend a:hover;
        }
}


/* -----------UPLOAD--------- */
  
.uploadfileform{
    margin-top:-20px;
   
    > p
	{
	  padding-left: 75px !important;
	}
}

.uploadonly{
    margin-top:10px;
    margin-left:10px;
}

.uploadbox{
    height: 50px;
    width:50px;
    border: 2px dashed;
    float:left;
    border-color:#999999;
}
.icon-up-circle2{
    font-size: 35px;
    bottom:-7px;
    right:-7px;
    position:relative;
    color:#999999;

	&:hover{
        color:#000000;
    }
}

.hiddenupload{
    display:none;
}

.fullscroller 
{
    // Makes the div columns scrollable
    overflow-y: auto;
    overflow-x:hidden;
    height:100%;
    width:100%;
}


.internal
{
    @include trivialAnimation();
}
.followtopic
{
    @include trivialAnimation();
    padding-left:15px;
}
.checkalways
{
    @include trivialAnimation();
}
.embeddedcontentnote
{
    @include trivialAnimation();
}
a.details
{
    @include trivialAnimation();
}

/* Columns Begin */
#column1 {
    min-width: 80px;
    width:180px;
    height:100%;
    vertical-align: top;
    background-repeat: repeat;
    font-weight: 300;

    .accordion {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        list-style: none;
   
        .mainheader {
            border-bottom: solid 1px #000000 !important;
        }

        > li {
            list-style:none;

            &:hover > a,&:target > a,> a.active{
                color: #000000 !important;
                text-shadow: 1px 1px 1px rgba(255,255,255, .2);
                font-weight:900 !important;

                // Find the midpoint of the gradients, 
                // Lighten it, then mix it with Creme.

                background: $gradientHL;
                span{
                    background: lighten($gradientHL,10%);
                }
            }

            > a {

                padding-top: 5px;
                padding-right: 20px;
                padding-bottom: 5px;
                padding-left: 20px;
            
                display: block;
                position: relative;
                min-width: 110px;
             
                font: 12px;
                text-decoration: none;
                text-shadow: 0px 1px 0px rgba(0,0,0, .35);
             
                background-color: $darkgrey; 
                color: $grey;

                @include background-image(linear-gradient(bottom,$gradient1, $gradient2));
                @include box-shadow(inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1));
            }

            >a span {
                display: block;
                position: absolute;
                top: 7px;
                right: 0;
                padding: 0 10px;
                margin-right: 10px;
             
                font: normal bold 12px;
                background: lighten(mix($gradient1, $gradient2),10%);

                @include border-radius(15px);
                @include box-shadow(inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1));
            }

            &:target > .sub-menu {
                display: block;
            }

            > .sub-element {
                
                padding-top:10px;
                padding-bottom:10px;
                padding-left:10px;
                padding-right:10px;
                color: #000000;

                background-color: $bluegrey;
                font-weight: 600 !important;

                font: bold 14px;
                text-decoration: none;
                text-shadow: 0px 1px 0px rgba(0,0,0, .35);
                text-align: left;
                margin-bottom: 0px;
                }

            > .sub-menu {
                @extend .sub-element;
                padding: 0 0 0 0;
                margin: 0 0 0 0;

                li {
                    @include box-shadow(inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1));
                    font: 12px;
                    text-decoration: none;
                    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
                 

                    > a,.textbutton {
                        width:100%;
                        color: $grey;
                        padding-top: 5px;
                        padding-right: 40px;
                        padding-bottom: 5px;
                        padding-left: 20px;
                    
                        display: block;
                        position: relative;
                        min-width: 110px;

                        @include box-shadow(inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1));

                        &:hover {
                            color: #0f0f0e;
                            background-color: mix($creme,lighten($bluegrey,40%));
                            > span{
                                background: lighten(mix($creme,lighten($bluegrey,40%)),10%);
                            }

                        }
                    }

                    > a span {
                        display: block;
                        position: absolute;
                        top: 7px;
                        right: 0;
                        padding: 0 10px;
                        margin-right: 10px;
                        background-color: lighten($bluegrey,10%);

                        font: normal bold 12px;

                        @include border-radius(15px);
                        @include box-shadow(inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1));
                    
                    }


                    &:last-child a {
                        border: none; 
                    }
                }

                #login {

                    #youravatar{
                        @include border-radius(12px);
                        display:block;
                        margin-left:auto;
                        margin-right:auto;
                    }

                    padding-left:15px;
                    padding-top:15px;
                    padding-bottom:15px;
                    text-shadow:none;
                    font-weight: 100;


                }


            } // Submenu

        } // li

    } // accordian
 } // column1
      
#column2solo{

    #scrollablediv2
    {
        margin-left:10px;
    }

    #column2HR {
        height: 5px;
        width: 100%;
        margin-left: 10px;
        margin-top: 17px;
        margin-bottom: 17px;
        background-color: $grey;
        border: none;
        float: left;
    }

    .bigavatar
    {
        @include border-radius(20px);
    }


}
 
#column2in3col {
    min-width: 80px;
    width:320px;
    height:100%;
    vertical-align: top;
    color:$darkgrey;
    background:#fff;
    font-size:inherit;
    margin:0 auto;
    padding:0;

        #column2HR {
            height: 5px;
            width: 100%;
            margin-left: 20px;
            margin-top: 17px;
            margin-bottom: 17px;
            background-color: $grey;
            border: none;
            float: left;
        }
        #column2Topic {
            margin-left: 20px;
            font-weight: bold;
            color:#000000;
            text-decoration:none;
        }
                
        #column2MsgCount {
           margin-left: 20px;
           font-weight: normal;
        }

        .column2Buttons {
            width: 119px;
            height: 28px;
            margin-top: 22px;
            margin-bottom: 18px;
            border: 1px solid #dedede;
            background-color: #f6f6f6;
            @include border-radius(3px);
            @include background-image(linear-gradient(bottom,color-stops(#f9f9f9, #f0f0f0)));
        }

        #column2ButtonLeft {
            margin-left: 20px;
            margin-right: 9px;
        }

        #column2ButtonRight {
            margin-right: 15px;
        }

        #newer_messages {
            width: 140px;
            margin-right: 15px;
        }

        #older_messages {
            width: 140px;
            margin-left: 20px;
            margin-right: 9px; 
        }

        .navIcon {
            font-size:16px;
            float:left;
        }

                       
        a:active,a:hover
        {
            outline:0;
        }

        a
        {
            color:$darkgrey;
            outline:0;
            text-decoration:none;
        }


        .messages
        {
            list-style:none;
            margin:0;
            padding:0;


            .message
            {
                position:relative;
                padding-bottom:0px;
                overflow:hidden;
                border-bottom:1px solid $lightgrey;
                &:hover{
                    background: lighten($creme,10%);
                }
            }

            a
            {
                color:lighten($darkgrey,10%);
                display:block;
                padding:5px 15px;
            }

            .messagelink
            {
                margin-right:50px;
                padding:10px 15px;
            }

            .replies
            {
                background:rgba(0,0,0,0.025);
                bottom:0;
                color:#000;
                position:absolute;
                right:0;
                top:0;
                width:50px;
                text-align: center;

                    /* Psuedo element, to help center child */
                    &:before 
                    {
                      content: '';
                      display: inline-block;
                      height: 100%;
                      vertical-align: middle;
                      margin-right: -0.25em; /* Adjusts for spacing */
                    }

                    div
                    {
                          display: inline-block;
                          vertical-align: middle;
                          width: 100%;
                    }
            }


            h2
            {
                color:#333;
                font-size:107%;
                font-weight:400;
                line-height:1.3;
                margin:0;
                padding-bottom:5px;
            }

            .bodypreview
            {
                display:block;
                overflow:hidden;
                display:inline-block;
                font-size:85%;
                font-weight:300;
                line-height:1;
                padding:5px;
            }

            .active
            {
                background:$lightgrey;
            }

        }
}


#wrappertable {
    height:100%;
    width:100%;
}
    


#column3 {
    height:100%;
    width:100%;
    ul li {
        padding-left: 30px;
    }


    #scrollablediv3 {
        background: #f9f9f9;
        padding-right:15px;
        height:100%;
    }

    #allreplies{
        padding-top:10px;
        padding-bottom:20px;
        padding-right:10px;
    }


    .first_message {
        margin-top:35px;
        margin-left:20px;
        width: auto;
        padding: 20px;

        background-color: #56504d;
        background-image: url(/static/images/texture.png);

        border-radius: 8px;
        @include box-shadow(8px);
        @include box-shadow( 0px 3px 3px #b5b39a);
        color: $lightgrey;

        .note {
           left:20px;
           display:inline;
        }

        .avatar {
            @include border-radius(12px);
            float:left;
            margin-right:10px;
        }

        h1 {
            font-size: 28px;
            height:1em;
            overflow:hidden;
            font-style: normal;
            color: #ece9d7;
            margin-right: 40px;
            margin-top: 10px;
        }

        .message_body {
            @import "markdown.scss";
            margin-bottom: 18px;
            margin-top: 22px;
            font: 13px;
            line-height: 16px;
            color: #ffffff;
            a {
                color: $lightgrey;
                &:visited {
                    color: $lightgrey;
                }
                &:hover {
                    text-decoration: underline;
                    color: $darkgrey;
                }
            }
        }

        .message_author_info {
            font-size: 15px;
            color: $creme;
            margin-top: 10px;
            padding-bottom: 10px;
        }

        .message_date {
            font-size: 15px;
            color: $creme;
            margin-bottom: 10px;
            float:left;
        }


        .likeDislikeIcon {
            margin-bottom: 8px;
            color: $creme;
            &:hover {
                color: darken($creme,20%);
            }
        }

        .likeDislikeLabel {
           margin-left: 5px;
           margin-bottom: 11px;
           color: $creme;
           &:hover {
                color: darken($creme,20%);
           }
        }

        .message_links {
            color: $creme;

            .message_commands {
                margin-left:250px;
            }

            .message_replylink {
                margin-left:350px;
            }

            .external_sharing_button {
                @include trivialAnimation();
            }

            a {
                color:inherit;
                &:hover {
                    color: darken($creme,20%);
                }
            }
        }
    }

    // All non-top messages
    .message {

        @extend .first_message;
        background: $lightgrey;
        margin-top:10px;

        // Negative margin is to eat up the first UL element
        margin-left:-30px;
        color: $darkgrey;
        border:1px;
        h6 {
            margin: 0px;
        }
        .avatar {
            @include border-radius(50%);
        }

        .message_date {
            color: $darkgrey;
        }

        .message_body {
            color: $nearblack;

            a {
                color: $greybrown;
                &:visited {
                    color: $greybrown;
                }
                &:hover {
                    color: $nearblack;
                }
            }

        }

        .message_author_info {
            color: $greybrown;
        }

        .likeDislikeIcon {
            color: $greybrown;
            &:hover {
                color: darken($greybrown,20%);
            }
        }

        .likeDislikeLabel {
           color: $greybrown;
            &:hover {
                color: darken($greybrown,20%);
            }
        }
        .message_links {
            color: $greybrown;

            a {
                &:hover {
                    color: darken($greybrown,20%);
                }
            }
        }

    }


    #TopHR {
        height: 5px;
        width: 100%;
        border: none;
        margin-top: 17px;
        margin-bottom: 7px;
        display: block;
        float: left;
        background-color: $bluegrey;
    }


    .message_separator_line {
        height: 1px;
        width: 422px;
        border: none;
        background-color: #898c8e;
        margin-left: 0px;
        }
                    
    .commentSeparationLine {
        height: 1px;
        width: 422px;
        border: none;
        background-color: #898c8e;
        margin-left: 14px;
        margin-right: 14px;
        margin-top: 13px;
        margin-bottom: 10px;
        float: left;
      }
                
    .commentSeparation {
        height: 1px;
        width: 100%;
        border: none;
        display: block;
        float: left;
        background-color: $grey;
      }

    .messageRating{
        float:right;
    }
             
    .message_links {
        margin-left:9px;
    }

         
    .iconLabels {
        font-size: 12px;
        font-weight: bold;
        margin-left: 5px;
        margin-right: 20px;
    }

    #lowerCommentSeparation {
        width:100%;
    }

        
    #scrollBar {
        margin-top: 11px;
        margin-bottom: 17px;
    }
          
    .commentDisplayOptions {
        margin-top: 15px;
        margin-right: 20px;
    }
            
    .buffer {
        margin-left: 14px;
    }
            
    .paraBuffer {
        margin-top: 19px;
        margin-bottom: 17px;
    }


    .darkClass
    {
        background-color: white;
        @include opacity(0.5); 
    }

    .reply {
    @include trivialAnimation();
    }

    #ratingsinfo, #lowestrating, #highestrating{
        display:none;
    }

    #commentSliderWrapper{
        width:418px;
        margin-top:10px;
        // margin-left is to counteract the endcap
        margin-left:11px;

    }

    .commentSlider{
        @include trivialAnimation();

        border:none;
        position:relative;
        width:418px;
        td{
            border:none;
        }
    }


    .UserDetails {        
        position: absolute;
        background: rgba(0,0,0,0.9);
        padding: 10px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        z-index: 10;
        width: 400px;
        display:none;
        color:#fff;
        margin-top:12px;
        padding:.5em 1em;
                
        @include border-radius(4px);
        @include box-shadow(0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444);
        background-color:#3b3b3b;
        @include background-image(linear-gradient(bottom,#555555, #222222));
        
        .textVersionOfRating{
            display:block;
            margin-bottom:5px;
        }
        
        .DetailsOption{
            display:block;
            margin-top:3px;
        }
        
       a,.icon-label {
           color: #fff;
           display: inline;
           padding: 2px 0;
           overflow: hidden;
           &:hover
           {
               text-decoration: none;
           } 
       }   
       
       .usernote {
           @include trivialAnimation();
           border:none;
           width:90%;
           &::-moz-placeholder,&::-webkit-input-placeholder{text-align:center;}
           background-color: transparent;
           border-style: solid;
           border-width: 0px 0px 1px 0px;
           border-color: $nearblack;
       }
     
        &:after{
          content:"\25B8";
          display:block;
          font-size:2em;
          height:0;
          line-height:0;
          position:absolute;
          bottom:auto;
          color:#4f4f4f;
          left:-2px;
          top:0;
          text-align:center;
          text-shadow:none;
          @include rotate(-90deg);
          width:30%;
          z-index:10;
        }
    }


    .commentSliderGrip{
        cursor:e-resize;
        background-image: url('/static/images/roundslider.png');
        z-index:8;
        width:20px;
        height:20px;
    }



    #shownComments{
        background: url('/static/images/shownComments.png') repeat-x;
        vertical-align:text-top;
        overflow:visible;

        &:before
        { 
            /* Put in the end cap using css wizardry */
            background:url(/static/images/leftSliderCap.png);
            content:"";
            width:13px;
            height:20px;
            position:absolute;
            top:-0px;
            left:-13px;
        }

        span
        {
            width:100%;
            position:relative;
            display:block;
            content:"";
        }
    }

    #unshownComments{
        background:url('/static/images/unshownComments.png') repeat-x;
        overflow:visible;
        
        &:after{
            /* Put in the end cap using css wizardry */
            background:url(/static/images/rightSliderCap.png);
            content: "";
            width: 13px;
            height: 20px;
            position: absolute;
            top: -0px;
            left: 100%;
            margin-left:-1px
        }   
    }

}





/*Logo Class*/
#logo {
        margin-top: 20px;
        margin-bottom: 20px;

        display: block;
        margin-left: auto;
        margin-right: auto;
        }

      button {
        cursor: pointer;
        }

/* Animation Keyframe Classes */
@keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
}

@-moz-keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
}

@-webkit-keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
}

@-ms-keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
}

@-o-keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
} 

/* Style the element like a textarea */
#contenteditable 
{
    display:none;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    background:#ddd;
    line-height:1.35em;
    overflow:hidden;
    border: 1px solid black;
}
/* for the spinner */

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}


